
/*
* Building Map
* ====================
*/
.building-map {
  /* Icons */
  /* Selection transitions */
  /* Other levels */
  /* Delays */
  /* 1 */
  /* Current level */
  /* Navigation classes */
  /* Level nav */
  /* Box button */
  /* Level map */
  /* Spaces list (sidebar) */
  /* Pins */
  /* Pins for floor 1 */
  /* Pins for floor 2 */
  /* Pins for floor 3 */
  /* Pins for floor 4 */
  /* Mobile compatability */
}

.building-map .hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.building-map .icon {
  display: block;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  fill: currentColor;
}

.building-map .container {
  position: relative;
  width: 100vw;
  height: 620px;
  padding: 0px;
  max-width: none;
}

.building-map .main {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: calc(100vw - 400px);
  height: 100%;
}

@media (min-width: 1800px) {
  .building-map .main {
    width: calc(100vw - 570px);
  }
}

.building-map .mall {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-perspective: 3500px;
  perspective: 3500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.building-map .mall.mall--content-open {
  -webkit-transform: translate3d(0, -25%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(0, -25%, 0) scale3d(0.8, 0.8, 1);
}

.building-map .levels {
  position: absolute;
  top: 50%;
  left: 56%;
}

.building-map .levels {
  width: 90vmin;
  height: 60vmin;
  margin: -32vmin 0 0 -48vmin;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.building-map .levels {
  -webkit-transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
  transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
}

.building-map .level {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.building-map .level::after {
  font-size: 2.5vmin;
  line-height: 0;
  position: absolute;
  z-index: 100;
  top: -2em;
  left: 3.5em;
  white-space: nowrap;
  color: #7d7d86;
  -webkit-transform: rotateZ(45deg) rotateX(-70deg) translateZ(5vmin);
  transform: rotateZ(45deg) rotateX(-70deg) translateZ(5vmin);
  -webkit-transition: -webkit-transform 1s, color 0.3s;
  transition: transform 1s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.building-map .level:hover::after,
.building-map .level--current::after {
  color: #515158;
}

.building-map .level--current::after {
  -webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg) translateZ(5vmin) translateX(5vmin) translateY(-10vmin);
  transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg) translateZ(5vmin) translateX(5vmin) translateY(-10vmin);
}

.building-map .level:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.building-map .level--2 {
  -webkit-transform: translateZ(10vmin);
  transform: translateZ(10vmin);
}

.building-map .level--3 {
  -webkit-transform: translateZ(20vmin);
  transform: translateZ(20vmin);
}

.building-map .level--4 {
  -webkit-transform: translateZ(30vmin);
  transform: translateZ(30vmin);
}

.building-map .levels--selected-1 .level:not(.level--1),
.building-map .levels--selected-2 .level:not(.level--2),
.building-map .levels--selected-3 .level:not(.level--3),
.building-map .levels--selected-4 .level:not(.level--4) {
  opacity: 0;
  /* fade out all others */
}

.building-map .level--current ~ .level {
  -webkit-transform: translateZ(90vmin);
  transform: translateZ(90vmin);
}

.building-map .levels--selected-2 .level--1,
.building-map .levels--selected-3 .level--1,
.building-map .levels--selected-4 .level--1,
.building-map .levels--selected-3 .level--2,
.building-map .levels--selected-4 .level--2,
.building-map .levels--selected-4 .level--3 {
  -webkit-transform: translateZ(-60vmin);
  transform: translateZ(-60vmin);
}

.building-map .levels--selected-1 .level--3,
.building-map .levels--selected-2 .level--3,
.building-map .levels--selected-3 .level--2,
.building-map .levels--selected-4 .level--2 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.building-map .levels--selected-1 .level--2,
.building-map .levels--selected-2 .level--current,
.building-map .levels--selected-2 .level--current::after,
.building-map .levels--selected-3 .level--current,
.building-map .levels--selected-3 .level--current::after,
.building-map .levels--selected-4 .level--3 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.building-map .levels--selected-1 .level--current,
.building-map .levels--selected-1 .level--current::after,
.building-map .levels--selected-4 .level--current,
.building-map .levels--selected-4 .level--current::after {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.building-map .level.level--current {
  -webkit-transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
  /* go to center */
  transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
}

.building-map .levels--open .level,
.building-map .levels--open .level::after {
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.building-map .levels--open .level.level--current {
  opacity: 1;
}

.building-map .levels--open .level.level--moveOutUp,
.building-map .levels--open .level.level--moveOutDown {
  opacity: 0;
}

.building-map .levels--open .level.level--moveOutUp {
  -webkit-transform: translateZ(90vmin);
  transform: translateZ(90vmin);
}

.building-map .levels--open .level.level--moveOutDown {
  -webkit-transform: translateZ(-60vmin);
  transform: translateZ(-60vmin);
}

.building-map .mallnav {
  position: absolute;
  top: 0;
  right: 60px;
  text-align: center;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

@media (min-width: 1800px) {
  .building-map .mallnav {
    right: 120px;
  }
}

.building-map .mallnav--hidden {
  pointer-events: none;
  opacity: 0;
}

.building-map .boxbutton {
  font-size: 2em;
  display: block;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  color: #fff;
  border: 0;
  background: #d7d7dc;
}

.building-map .boxbutton--dark {
  background: #c4c4c7;
}

.building-map .boxbutton--darker {
  background: #2c2c2f;
}

.building-map .boxbutton--alt {
  background: #3d1975;
}

.building-map .boxbutton--disabled,
.building-map .boxbutton--disabled:focus,
.building-map .boxbutton--disabled:hover {
  cursor: default;
  pointer-events: none;
  opacity: 0.2;
}

.building-map .map {
  height: auto;
  width: auto;
  margin-top: 0;
}

.building-map .map__ground {
  fill: #d7d7dc;
}

.building-map .map__outline {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: #bbb;
}

.building-map .level:hover .map__outline,
.building-map .level--current .map__outline {
  fill: #a6a3a8;
}

.building-map .map__tree {
  fill: #7bad7f;
}

.building-map .map__lake {
  fill: #a2bbdd;
}

.building-map .map__space {
  -webkit-transition: fill-opacity 0.8s;
  transition: fill-opacity 0.8s;
  fill: #bdbdbd;
  fill-opacity: 0.6;
}

.building-map .level--current .map__space {
  fill-opacity: 1;
}

.building-map .map__space--selected {
  fill: #A4A4A4;
}

.building-map .spaces-list {
  position: absolute;
  top: 0px;
  right: 18px;
  width: 400px;
  padding-right: 0;
  padding-left: 0;
  transition: .5s all ease;
}

@media (min-width: 1800px) {
  .building-map .spaces-list {
    top: -70px;
    right: 88px;
    width: 570px;
  }
}

.building-map .spaces-list .divider, .building-map .spaces-list .divider-charts {
  margin-top: 32px;
  margin-bottom: 30px;
  margin-left: 0;
  width: 100%;
  height: 3px;
  background: #51A367;
}

.building-map .search {
  z-index: 100;
}

.building-map .search__input {
  width: 100%;
  padding: 10px 50px 10px 0;
  color: #222;
  border: 0;
  border-radius: 0;
}

@media (min-width: 992px) {
  .building-map .search__input {
    width: 380px;
  }
}

.building-map .search__input::-webkit-input-placeholder, .building-map .search__input::-moz-placeholder, .building-map .search__input:-moz-placeholder, .building-map .search__input:-ms-input-placeholder {
  color: #000 !important;
  font-size: 25px !important;
}

.building-map .search__input:focus {
  outline: none;
}

.building-map .label {
  position: absolute;
  top: 4em;
  right: 0;
}

.building-map .label__text {
  font-size: 0.85em;
  line-height: 1;
  display: block;
  padding: 1em;
  color: #e4e4e4;
}

.building-map .label__checkbox {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.building-map .label__checkbox:checked + .label__text {
  color: #515158;
}

.building-map .list {
  display: block;
}

.building-map .list__item {
  font-size: 1.05em;
  line-height: 1;
  position: relative;
  display: block;
}

.building-map .list__item:first-child {
  margin-top: 2em;
}

.building-map .grouped-by-category [data-category='1']:first-child,
.building-map .grouped-by-category :not([data-category='1']) + [data-category='1'],
.building-map .grouped-by-category [data-category='2']:first-child,
.building-map .grouped-by-category :not([data-category='2']) + [data-category='2'],
.building-map .grouped-by-category [data-category='3']:first-child,
.building-map .grouped-by-category :not([data-category='3']) + [data-category='3'],
.building-map .grouped-by-category [data-category='4']:first-child,
.building-map .grouped-by-category :not([data-category='4']) + [data-category='4'] {
  margin-top: 70px;
}

@media (min-width: 1800px) {
  .building-map .grouped-by-category [data-category='1']:first-child,
  .building-map .grouped-by-category :not([data-category='1']) + [data-category='1'],
  .building-map .grouped-by-category [data-category='2']:first-child,
  .building-map .grouped-by-category :not([data-category='2']) + [data-category='2'],
  .building-map .grouped-by-category [data-category='3']:first-child,
  .building-map .grouped-by-category :not([data-category='3']) + [data-category='3'],
  .building-map .grouped-by-category [data-category='4']:first-child,
  .building-map .grouped-by-category :not([data-category='4']) + [data-category='4'] {
    margin-top: 80px;
  }
}

.building-map .grouped-by-category [data-category='1']:first-child::before,
.building-map .grouped-by-category :not([data-category='1']) + [data-category='1']::before,
.building-map .grouped-by-category [data-category='2']:first-child::before,
.building-map .grouped-by-category :not([data-category='2']) + [data-category='2']::before,
.building-map .grouped-by-category [data-category='3']:first-child::before,
.building-map .grouped-by-category :not([data-category='3']) + [data-category='3']::before,
.building-map .grouped-by-category [data-category='4']:first-child::before,
.building-map .grouped-by-category :not([data-category='4']) + [data-category='4']::before {
  font-size: 25px;
  position: absolute;
  top: -40px;
  left: 0;
  color: #c7c7c9;
}

.building-map .grouped-by-category [data-category='1']:first-child::before,
.building-map .grouped-by-category :not([data-category='1']) + [data-category='1']::before {
  content: '四层架构';
  color: #333;
  font-family: "Dosis", sans-serif !important;
}

.building-map .grouped-by-category [data-category='2']:first-child::before,
.building-map .grouped-by-category :not([data-category='2']) + [data-category='2']::before {
  content: '双向驱动';
  color: #333;
  font-family: "Dosis", sans-serif !important;
}

.building-map .list__link {
  font-size: 16px;
  display: block;
  padding: 0.3em 0.3em 0.3em 0;
}

.building-map .list__item--active .list__link,
.building-map .list__link:hover {
  color: #515158;
}

.building-map .level__pins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.building-map .level__pins--active {
  pointer-events: auto;
}

.building-map .pin {
  position: absolute;
  width: 5.5vmin;
  height: 8.25vmin;
  margin: -8.25vmin 0 0 -2.25vmin;
  /* let the bottom tip be the reference point for individual coordinates */
  -webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
  transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.building-map .pin__icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.building-map .level__pins--active .pin__icon {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.building-map .pin:nth-child(2) .pin__icon {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.building-map .pin:nth-child(3) .pin__icon {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.building-map .pin:nth-child(4) .pin__icon {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.building-map .pin:nth-child(5) .pin__icon {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.building-map .pin:nth-child(6) .pin__icon {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.building-map .pin:nth-child(7) .pin__icon {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.building-map .pin:nth-child(8) .pin__icon {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.building-map .pin:nth-child(9) .pin__icon {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.building-map .pin[data-category='1'] .icon--pin {
  fill: #7cbf7f;
}

.building-map .pin[data-category='2'] .icon--pin {
  fill: #6584c7;
}

.building-map .pin[data-category='3'] .icon--pin {
  fill: #dc4b7c;
}

.building-map .pin[data-category='4'] .icon--pin {
  fill: #8d65e0;
}

.building-map .pin--active .icon--pin {
  stroke: #515158;
  stroke-width: 15px;
}

.building-map .icon--pin {
  width: 100%;
  height: 100%;
}

.building-map .icon--logo {
  position: absolute;
  top: 11%;
  left: 25%;
  width: 50%;
  height: 50%;
  fill: white;
  fill-opacity: 0.6;
  -webkit-transition: fill-opacity 0.3s;
  transition: fill-opacity 0.3s;
}

.building-map .pin--active .icon--logo,
.building-map .pin:hover .icon--logo {
  fill-opacity: 1;
}

.building-map .pin--1-1 {
  top: 57vmin;
  left: 5vmin;
}

.building-map .pin--1-2 {
  top: 14vmin;
  left: 13vmin;
}

.building-map .pin--1-3 {
  top: 13vmin;
  left: 81vmin;
}

.building-map .pin--1-4 {
  top: 37vmin;
  left: 71vmin;
}

.building-map .pin--1-5 {
  top: 31vmin;
  left: 35vmin;
}

.building-map .pin--1-6 {
  top: 6vmin;
  left: 14vmin;
}

.building-map .pin--1-7 {
  top: 33vmin;
  left: 56vmin;
}

.building-map .pin--1-8 {
  top: 7vmin;
  left: 55vmin;
}

.building-map .pin--1-9 {
  top: 8vmin;
  left: 47vmin;
}

.building-map .pin--2-1 {
  top: 7vmin;
  left: 21vmin;
}

.building-map .pin--2-2 {
  top: 37vmin;
  left: 5vmin;
}

.building-map .pin--2-3 {
  top: 18vmin;
  left: 80vmin;
}

.building-map .pin--2-4 {
  top: 36vmin;
  left: 50vmin;
}

.building-map .pin--2-5 {
  top: 11vmin;
  left: 47vmin;
}

.building-map .pin--2-6 {
  top: 56vmin;
  left: 13vmin;
}

.building-map .pin--2-7 {
  top: 30vmin;
  left: 36vmin;
}

.building-map .pin--2-8 {
  top: 45vmin;
  left: 71vmin;
}

.building-map .pin--3-1 {
  top: 15vmin;
  left: 14vmin;
}

.building-map .pin--3-2 {
  top: 37vmin;
  left: 5vmin;
}

.building-map .pin--3-3 {
  top: 19vmin;
  left: 80vmin;
}

.building-map .pin--3-4 {
  top: 57vmin;
  left: 54vmin;
}

.building-map .pin--3-5 {
  top: 52vmin;
  left: 25vmin;
}

.building-map .pin--3-6 {
  top: 27vmin;
  left: 54vmin;
}

.building-map .pin--3-7 {
  top: 31vmin;
  left: 35vmin;
}

.building-map .pin--4-1 {
  top: 51vmin;
  left: 20vmin;
}

.building-map .pin--4-2 {
  top: 14vmin;
  left: 20vmin;
}

.building-map .pin--4-3 {
  top: 19vmin;
  left: 84vmin;
}

.building-map .pin--4-4 {
  top: 45vmin;
  left: 71vmin;
}

.building-map .pin--4-5 {
  top: 30vmin;
  left: 36vmin;
}

.building-map .pin--4-6 {
  top: 36vmin;
  left: 52vmin;
}

.building-map .pin--4-7 {
  top: 54vmin;
  left: 10vmin;
}

.building-map .open-search, .building-map .close-search,
.building-map .close-search {
  display: none;
}
@media screen and (max-width: 1200px), screen and (max-height: 40.625em) {
  .building-map .main {
    width: 100%;
  }
  .building-map .spaces-list {
    width: 100%;
    right: 100%;
    left: auto;
    padding: 50px 30px 50px 30px;
    background: rgba(255, 255, 255, 0.8);
    /*background: url(../img/bgs/dawn.jpg) top center no-repeat;*/
  }
  .building-map .spaces-list .search {
    width: 100%;
  }
  .building-map .spaces-list--open {
    right: 0;
  }
  .building-map .open-search, .building-map .close-search {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .building-map .close-search {
    right: 14px;
  }
  .building-map .mallnav {
    top: 4em;
    right: 0;
  }
  .building-map .container {
    overflow: hidden;
  }
  .building-map .container--overflow {
    overflow: auto;
  }
}

/*
* Popover
* ==============
*/
.popover {
  width: 200px;
  z-index: 10100;
  top: -71px !important;
}
