/* product head and description */
.p-t-0{
  padding-top: 0px !important;
}
.p-b-e{
  background-color: #eee;
}
.p-b-f{
  background-color: #fff;
}
.p-head1{
  font-size: 40px;
  color: #5e5e5e;
}
.p-head2{
  font-size: 25px;
  margin-bottom: 50px;
  color: #8e8e8e;
  letter-spacing: .5px;
}
.p-head3-color{
   color: #9e9e9e;
   font-size: 18px;
}

.item-header{
  text-align: center;
  padding: 40px 0px;
}
.item-header-e{
  text-align: center;
  padding: 40px 0px;
  background-color: #eee;
}