/*
*= require color_admin/plugins/jquery-ui/themes/base/jquery-ui
*= require color_admin/plugins/bootstrap/css/bootstrap
*= require color_admin/plugins/font-awesome/css/font-awesome
*= require color_admin/plugins/gritter/css/jquery.gritter
*= require color_admin/css/animate
*= require color_admin/css/style
*= require color_admin/css/style-responsive
*/
@import "font-awesome";
