<!-- Mega Footer -->
<footer class="bd-t mega-footer">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row row-table-md row-main">
    
      <!-- Col -->
      <div class="col-md-3 v-top brand-col border-b-xs">
        <div class="inner fg-text auot-invert">

          <a href="index.html"><h1 class="fg-text-d fs-300 font-brand">咔吱</h1></a>
          <p class="no-mgb">咔吱一下，有朋自来<br/>咔吱是一个方便快捷的图文网页制作工具，也是一个内容聚合的兴趣社交平台.</p>
          <ul class="uninav uninav-icons color-icons-bg-hovered color-icons">
            <li><a href="#"><i class="fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-rss"></i></a></li>
          </ul>
          <span>&copy; 2016 - www.kazhi.me</span>
          
        </div>
      </div>
      <!-- /Col -->
      
      <!-- Col -->
      <div class="col-md-2 v-top border-b-xs">
        <h5 class="fg-text-d case-u auto-invert">使用教程</h5>
        <ul class="uninav uninav-v case-c uninav-default uninav-pills auto-invert">
          <li><a href="#">magazine bio</a></li>
          <li><a href="#">login</a></li>
          <li><a href="#">subscribe</a></li>
          <li><a href="#">contact us</a></li>
        </ul>
      </div>
      <!-- /Col -->
      
      <!-- Col -->
      <div class="col-md-2 v-top border-b-xs">
        <h5 class="fg-text-d case-u auto-invert">热门频道</h5>
        <ul class="uninav uninav-v case-c uninav-default auto-invert">
          <li><a href="#"><span>donald trump</span></a></li>
          <li><a href="#"><span>nba finals</span></a></li>
          <li><a href="#"><span>the kardashians</span></a></li>
          <li><a href="#"><span>kylie jenner</span></a></li>
          <li><a href="#"><span>stephen curry</span></a></li>
        </ul>
      </div>
      <!-- /Col -->
    
      <!-- Col -->
      <div class="col-md-2 v-top">
        <h5 class="fg-text-d case-u auto-invert">商务合作</h5>
        <ul class="uninav uninav-v case-c auto-invert uninav-default">
          <li><a href="#"><span>使用条款</span></a></li>
          <li><a href="#"><span>广告合作</span></a></li>
          <li><a href="#"><span>电子商务</span></a></li>
          <li><a href="#"><span>投诉建议</span></a></li>
        </ul>
      </div>
      <!-- /Col -->
      
      <!-- Col -->
      <div class="col-md-3">
      
        <!-- subscribe box -->
        <div class="subscribe-box">
        
          <!-- img -->
          <div class="unicard-img">
            <%= image_tag("card/img/story16.jpg") %>
            <div class="img-cover pad-20 img-layer bg-black-50pc">
              <div class="valigner">
                <div class="v-mid">
                  <small class="unicaption-subtitle case-u">商务合作</small>
                  <span class="unication-title case-c font-title fs-200 font-brand fw-bold">品牌传播</span>
                  <small class="unicaption-subtitle case-u">为自己代言</small>
                </div>
              </div>
            </div>
          </div>
          <!-- /img -->
        
          <form>
            <input type="text" class="form-control text-box" placeholder="输入手机号">
            <button class="btn btn-primary btn-block">联系我!</button>
          </form>
        
        </div>
        <!-- /subscribe box -->

      </div>
      <!-- / Col -->
      
    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->
</footer>
<!-- /Mega Footer --> 