<div class="pages navbar-through toolbar-through">
  <div class="page" data-page="about">
    <div class="page-content">
      <div class="content-block-title">恭喜你注册成功!</div>
      <!-- Inset content block -->
      <div class="content-block inset">
        <div class="content-block-inner">
          <p>关注以下商家，开启私享之旅. </p>
        </div>
      </div>

      <div class="content-block-title">为你推荐的商家</div>
      <div class="list-block media-list">
        <ul>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="my-checkbox">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">宋学江</div>
                  <div class="item-after">开店24天</div>
                </div>
                <div class="item-subtitle">我的海淘屋</div>
                <div class="item-text">澳洲没酒，肥牛多多...</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="my-checkbox">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">宋学江</div>
                  <div class="item-after">开店24天</div>
                </div>
                <div class="item-subtitle">我的海淘屋</div>
                <div class="item-text">澳洲没酒，肥牛多多，奶粉代购...</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="my-checkbox">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Sofia</div>
                  <div class="item-after">开店2年</div>
                </div>
                <div class="item-subtitle">我的海淘屋</div>
                <div class="item-text">澳洲没酒，肥牛多多，奶粉代购，澳洲没酒，肥牛多多，澳洲没酒，肥牛多多，...</div>
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="my-checkbox">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">宋江</div>
                  <div class="item-after">开店224天</div>
                </div>
                <div class="item-subtitle">我的海淘屋海淘屋海淘屋</div>
                <div class="item-text">澳洲没酒，肥牛多多.澳洲没酒，肥牛多多，..</div>
              </div>
            </label>
          </li>
        </ul>
      </div>
      
      <p><a href="/home/index" class="external button button-big button-fill">好了，开启优购生活！</a></p>

    </div>
  </div>
</div>