
<div class="toolbar no-border">
  <div class="toolbar-inner">
    <%#= link_to "#{request.path}", '#',  :class => 'button button-big active button-block' %>
    <a href="#" class="share-btn button button-big" style="margin-left: 5px;"><i class="fa fa-share"></i> </a>
  </div>
</div>
