 body{   
    -webkit-touch-callout: none; 
    -webkit-text-size-adjust: none;
        margin:0 auto;      
        overflow:hidden;   
    position:relative;
    }   
  
    div#content{
        position:relative;   
/*        border:1px solid #000; 
*/        width:100%;    
        height: 100%;
        margin:0 auto; 
        top:0px;    
        overflow:hidden;   
        clear:both;
    }
  
    div#bg0{   
      position:absolute;   
      left:0px;   
      top:0px;
    } 
  
    div.bg{   
      position:absolute;   
      left:0px;   
      top:0px;
       -webkit-animation:fadeOut 8s 6s infinite ease-in-out alternate both;
    } 
  @-webkit-keyframes fadeOut{
    0%{opacity:1;}
    100%{opacity:0;}
  }
 
  div#ren
  { 
    position:absolute; 
    left:22px;
    top:547px;        
    -webkit-animation:fadeIn 3s 8s 1 ease-in-out normal both;
  }
  @-webkit-keyframes fadeIn{
    0%{opacity:0;}    
    100%{opacity:1;}
  }
  div#foot{   
        position:fixed; 
    width:500px;
    left:320px;
    bottom:20px;
    z-index:2000;
    }   
  
    div#relative{   
        position:relative;   
        left:100px;   
        top:0px;   
    }   
  
    div#static{   
        background-color:#bbb;   
    top:20;
    left:30px;
        position:static;   
    }   
  