<%= render file: @cms_site.template_dir + '_header.html' %>
<div id="wrap">
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">
      <!-- navbar -->
      <div class="tr-breadcrumb">
  			<div class="title pull-left">
  				<h1>订单详情</h1>
  			</div>
        <ol class="breadcrumb pull-right">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <%= link_to '我的订单', self_order_frontend_users_path %>
          </li>
          <li>
            订单编号：@222222
          </li>
        </ol>
  		</div>

      <div class="row">
        <div class="col-sm-8 col-md-8 tr-sticky">
          <div class="theiaStickySidebar">
            <!-- 支付失败 -->
            <div class="tr-section">
              <div class="row text-left">
                <div class="col-md-12">
                  <h3 class="clearfix">
                    <div class="pull-left">
                      支付状态：<span class="text-danger">失败</span>
                    </div>
                    <div class="pull-right">
                      <div class="btn-group" role="group" aria-label="重新支付按钮组">
                        <button type="button" class="btn btn-default" name="button">返回订单</button>
                        <button type="button" class="btn btn-danger" name="button">重新支付</button>
                      </div>
                    </div>
                  </h3>
                  <hr/>
                  <p class="text-center" style=" color: #9e9e9e">
                    <span class="fa fa-frown-o" style="font-size: 45px;"></span>
                  </p>
                  <p class="text-center" style=" color: #9e9e9e">
                    <span>温馨提示：订单支付失败，请检查“订单状态”后尝试重新支付</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- 支付成功 -->
            <div class="tr-section">
              <div class="row text-left">
                <div class="col-md-12">
                  <h3 class="clearfix">
                    <div class="pull-left">
                      支付状态：<span class="text-success">支付成功</span>
                    </div>
                    <div class="pull-right">
                      总金额：<span class="text-danger">¥ 100.00</span>
                    </div>
                  </h3>
                  <hr>
                  <p class="clearfix">
                    订单信息：
                    <a href="#" class="pull-right">返回我的订单</a>
                  </p>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="productImg">
                        <img src="http://www.lvh.me:5000/photos/2017/6/26/1/original.?2017" alt="" class="img-responsive"/>
                      </div>
                    </div>
                    <div class="col-md-9 text-left">
                      <h4 >
                        <a href="#" style="color: #2e2e2e;">
                          产品名称
                        </a>
                        <small>产品分类</small>
                      </h4>
                      <p>
                        <span><i class="fa fa-map-marker productColorIcon"></i>  地址信息描述</span>
                      </p>
                      <p>
                        <span><i class="fa fa-clock-o productColorIcon"></i> 产品时间</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-5 col-md-4 tr-sticky" >
          <%= render file: 'frontend/users/_nav_sidebar.html.erb' %>
        </div>
      </div>

    </div>
  </section>
  <%= render file: @cms_site.template_dir + '_footer.html' %>
</div>
