<%= render file: 'public/templetes/default/_header.html' %>

<div class="container">

  <div class="row">
    <% @pages.each do |page| %>
    <div class="col-md-6">
      <div class="block style-2 bg-base-1">
        <div class="block-body">
          <h3 class="block-title"><%= link_to page.title, get_url(page) %></h3>
          <p><%= page.description.truncate(45) %></p>
          <hr>
          <div class="float-wrapper mt-10">
      
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
