<%#= render partial: 'layouts/navbar', locals: {title: '产品名称1'} %>

<div class="pages no-navbar toolbar-fixed">
  <div class="page" data-page="product-show">
    <div class="page-content hide-toolbar-on-scroll">

      <!-- header -->
      <div class="card demo-card-header-pic no-border">
        <div style="background-image:url(/assets/w-slider.jpg)" valign="bottom" class="card-header color-white no-border">原宿风中筒袜纯棉女袜</div>
        <div class="card-content">
          <div class="card-content-inner">
            <p>五双混色装</p>
          </div>
        </div>
      </div><!-- header -->
      
      <div class="content-block-title">表单填写</div>
      <div class="list-block">
        <ul>
          <!-- Text inputs -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">快递地址</div>
                <div class="item-input">
                  <input type="text" placeholder="Your name">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">联系电话</div>
                <div class="item-input">
                  <input type="email" placeholder="E-mail">
                </div>
              </div>
            </div>
          </li>
          
          <!-- Select -->
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">是否xx</div>
                <div class="item-input">
                  <select>
                    <option>是</option>
                    <option>否</option>
                  </select>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
          

      <div class="card no-border">
        <div class="card-content">
          <div class="card-content-inner text-center">
            <h1>￥34.5 </h1>
          </div>
        </div>
      </div>

      <!-- pay type -->
      <div class="content-block-title">选择支付方式</div>
      <div class="list-block">
        <ul>
          <!-- Single radio input -->
          <li>
            <label class="label-radio item-content">
              <!-- Checked by default -->
              <input type="radio" name="my-radio" value="Books" checked="checked">
              <div class="item-media">
                <i class="icon icon-form-radio"></i>
              </div>
              <div class="item-inner">
                <div class="item-title">微信</div>
              </div>
            </label>
          </li>
          <!-- Another radio input -->
          <li>
            <label class="label-radio item-content">
              <input type="radio" name="my-radio" value="Movies">
              <div class="item-media">
                <i class="icon icon-form-radio"></i>
              </div>
              <div class="item-inner">
                <div class="item-title">支付宝</div>
              </div>
            </label>
          </li>
        </ul>
      </div>    
      <!-- pay type -->

    </div>
  </div>
</div>

<!-- Bottom Toolbar-->
<!-- Bottom Toolbar -->
<div class="toolbar no-border">
  <div class="toolbar-inner">
    <%= link_to '在线支付', '/product/order', class: 'button button-big active button-block' %>
    <!-- <a href="#" class="share-btn button button-big" style="margin-left: 5px;"><i class="fa fa-share"></i> </a> -->
  </div>
</div>
