<div id="about" class="page">

  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            About StartKit

            <br>

            <small>
              Mobile-first &amp; responsive design
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container">


      <div class="row">
        <div class="col-sm-8">

          <div class="additional-header">
            <h3>Our Philosophy</h3>
          </div>

          <p class="lead">
            We are the best company you have ever seen. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, eum, et asperiores minima delectus ab deleniti tempora aut mollitia molestiae vel dignissimos voluptatibus assumenda dolorem tempore sint quisquam aliquid corporis?
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam voluptatibus velit ratione omnis, reprehenderit quos. Laborum dolore, ratione possimus vel minus, velit ullam non porro obcaecati eveniet nesciunt! Iste, pariatur?
          </p>

          <blockquote>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, vitae, qui, ullam nihil aperiam inventore non officia vel magni numquam fugiat sit est laboriosam amet et rerum magnam totam illo.
            </p>
          </blockquote>
        </div>

        <div class="col-sm-4">
          <div class="widget widget-cream about-widget">
            <div class="image">
              <img src="/templetes/dagle/img/cleancut/party.jpg" alt="" class="img-responsive img-thumbnail">
            </div>
            <div class="text">
              <h5>At the office party!</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row stats animated-counters">
        <div class="col-sm-3 stat-item">
          <strong class='counter' id="employee-count">25</strong>
          Employees
        </div>
        <div class="col-sm-3 stat-item">
          <strong class='counter' id="product-count">12</strong>
          Products
        </div>
        <div class="col-sm-3 stat-item">
          <strong class='counter' id="experience-count">672</strong>
          Years of Experience
        </div>
        <div class="col-sm-3 stat-item">
          <strong class='counter' id="customer-count">15,000</strong>
          Customers
        </div>
      </div><!-- stats -->


    </div><!-- container -->
  </div><!-- page content -->


  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Our Team</h2>
          <p class="lead">
            Meet the guys who make this happen
          </p>
        </div>
      </div>

      <div id="team-slider" class="row owl-carousel">
        <div class="item">
          <img class="img-responsive member-img" src="/assets/cleancut/person1.jpg">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, natus, facere tenetur maiores iure quos repudiandae commodi veritatis cumque impedit voluptatem est? Velit, dolor, enim nostrum dolore dolorem corporis odio.</p>
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
          </ul>
        </div>

        <div class="item">
          <img class="img-responsive member-img" src="/assets/cleancut/person2.jpg">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dolor facilis omnis ab voluptatem voluptatum blanditiis sapiente voluptatibus illo iste non officiis laudantium. Delectus, beatae repellat illum quasi fugit molestias!</p>
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
          </ul>
        </div>

        <div class="item">
          <img class="img-responsive member-img" src="/assets/cleancut/person3.jpg">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, sunt, aspernatur, ad, eum deserunt et maxime hic labore consectetur voluptatem corporis cupiditate animi laboriosam assumenda laudantium dolores neque. Possimus, eum!</p>
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
          </ul>
        </div>

        <div class="item">
          <img class="img-responsive member-img" src="/assets/cleancut/person1.jpg">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, veniam, perspiciatis, tempore autem nihil earum esse quos nobis cupiditate nulla iste porro optio error laborum consectetur ea eum inventore dicta.</p>
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section id="office-images">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="additional-header">
            <h3>Our Office</h3>
          </div>

          <div id="office-slider">
            <div class="item">
              <img src="/templetes/dagle/img/cleancut/business1.jpg" class="img-responsive" alt="">
            </div>

            <div class="item">
              <img src="/templetes/dagle/img/cleancut/business2.jpg" class="img-responsive" alt="">
            </div>

            <div class="item">
              <img src="/templetes/dagle/img/cleancut/business3.jpg" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div id="company-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render "shared/partials/logo_slider" %>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/partials/horizontal_features" %>

</div>
