<div id="blog">

  <section id="blog-single">
    <div class="container">

      <div class="row">
        <div class="col-lg-9 col-md-9 main-content">

          <article class="blog-post">
            <h2 class="post-title">
              <a href="<%= page_path("blog_post") %>">A Blog Home Template for Bootstrap 3</a>
            </h2>

            <div class="post-image">
              <a href="<%= page_path("blog_post") %>">
                <img src="/templetes/dagle/img/cleancut/blog2.jpg" alt="" class="img-thumbnail img-responsive">
              </a>
            </div>

            <div class="post-meta">

              <div class="row">
                <div class="col-lg-1 col-md-1 hidden-xs hidden-sm image">
                  <img src="http://placehold.it/48x48" alt="" class="img-circle img-thumbnail">
                </div>

                <div class="col-lg-11 col-md-11">
                  <div class="post-meta-text text-muted">
                    <p class="lead">
                      by <a href="#">Bharani Muthukumaraswamy</a>
                      <br>
                    </p>

                    <p>
                      <i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM
                    </p>
                  </div>
                </div>
              </div>

            </div>

            <div class="post-content">
              <p class="lead">
                Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.
              </p>
              <p>
                You know, being a test pilot isn't always the healthiest business in the world.
              </p>
              <p>
                Cookie jelly beans soufflé icing. Gummi bears tootsie roll powder chupa chups cheesecake chocolate jelly-o lollipop lollipop. Halvah applicake chupa chups. Marshmallow chocolate jujubes icing lollipop gummi bears chupa chups pudding bonbon. Jelly beans jelly soufflé jujubes. Sesame snaps lollipop icing donut lemon drops soufflé.
              </p>
              <p>

                <img src="/templetes/dagle/img/cleancut/person1.jpg" alt="" class="img-thumbnail pull-left">Donut caramels gingerbread. Sweet roll macaroon pastry cotton candy oat cake sesame snaps biscuit lemon drops dessert. Candy canes carrot cake danish carrot cake soufflé jelly chocolate cake muffin. Topping brownie donut. Oat cake marzipan dragée cheesecake. Donut chocolate cake jujubes tart dragée toffee.
              </p>
              <p>
                Tilefish electric knifefish salmon shark southern Dolly Varden. Pacific argentine tope golden shiner ilisha barreleye loosejaw catla, dogteeth tetra catfish tenpounder nase scup Ragfish brotula." Codlet brook lamprey pleco, Japanese eel convict cichlid titan triggerfish, plownose chimaera topminnow Black scalyfin. Walleye pollock, blue shark Sacramento blackfish prickleback airbreathing catfish yellowfin cutthroat trout, goby southern sandfish. North Pacific daggertooth dorab cepalin weever flying gurnard.
              </p>

              <blockquote>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, unde perferendis tempora doloribus quibusdam sint natus eos dolores saepe sed delectus alias repudiandae ullam repellendus ea nostrum omnis officia dolorum?
                </p>
              </blockquote>

              <p>
                NASA is not about the ‘Adventure of Human Space Exploration’…We won’t be doing it just to get out there in space – we’ll be doing it because the things we learn out there will be making life better for a lot of people who won’t be able to go.
              </p>

              <p>
                As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
              </p>

              <p>
                I don't know what you could say about a day in which you have seen four beautiful sunsets.
              </p>

              <p>
                NASA is not about the ‘Adventure of Human Space Exploration’…We won’t be doing it just to get out there in space – we’ll be doing it because the things we learn out there will be making life better for a lot of people who won’t be able to go.
              </p>

              <p>
                Houston, Tranquillity Base here. The Eagle has landed.
              </p>


            </div>


            <hr>

            <div class="post-tags">
              <div class="row">
                <div class="col-md-12">
                  Tagged: <span class="badge">Bootstrap 3</span>  <span class="badge">Web Design</span>  <span class="badge">Responsive UI</span>
                </div>
              </div>
            </div>

            <hr>


            <div class="author-box well well-sm">
              <div class="row">

                <div class="col-md-3">
                  <img alt="64x64" src="http://i.pravatar.cc/300?img=28" class="img-responsive img-thumbnail">

                </div>

                <div class="col-md-9">
                  <h4>
                    Jenny McIntyre <span class="badge">5 articles</span>
                  </h4>
                  <p>
                    Designer, developer &amp; Dreamer.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore, officiis aliquam a nobis natus ipsa unde qui consequuntur architecto tenetur ducimus fugiat ea eum molestias officia est harum maiores.
                  </p>

                  <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="comments-area">
              <div class="additional-header">
                <h3>
                  Commments
                </h3>
              </div>

              <div class="comments-list-container">
                <div class="media">
                  <div class="media-left">
                    <img alt="64x64" class="media-object" src="http://i.pravatar.cc/64?img=16" style="width: 64px; height: 64px;">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      Rachel Lynch
                      <small class="time-ago text-muted">2 months ago</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </div>

                <div class="media">
                  <div class="media-left">
                    <img alt="64x64" class="media-object" src="http://i.pravatar.cc/64?img=68" style="width: 64px; height: 64px;">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      Alexander Griffin
                      <small class="time-ago text-muted">1 month ago</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    <div class="media">
                      <div class="media-left">
                        <img alt="64x64" class="media-object" src="http://i.pravatar.cc/64?img=49" style="width: 64px; height: 64px;">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          Virginia Payne
                          <small class="time-ago text-muted">2 weeks ago</small>
                        </h4>
                        Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                      </div>
                    </div>


                  </div>
                </div>

                <div class="media">
                  <div class="media-left">
                    <img alt="64x64" class="media-object" src="http://i.pravatar.cc/64?img=12" style="width: 64px; height: 64px;">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      Timothy Bell
                      <small class="time-ago text-muted">3 days ago</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </div>
              </div>
            </div>


            <div class="comment-form">
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="additional-header">
                    <h3>Add your comment</h3>
                  </div>
                </div>
              </div>
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                    </div>
                    <div class="form-group">
                      <label for="email">Email Address</label>

                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                    </div>
                    <div class="form-group">
                      <label for="website">website</label>

                      <input type="text" class="form-control" id="website" placeholder="www.google.com" />

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Message</label>
                      <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary pull-right">
                      Add Comment</button>
                    </div>
                  </div>
                </form>
              </div>

            </article>





          </div>


          <%= render file: "public/templetes/dagle/shared/partials/_blog_sidebar" %>

        </div>
      </div>
    </section>

</div>
