<div id="faq">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            常见问题 <br>
            <small>
              Don't hesitate to call us if you need any additional help
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>


  <section id="accordion">
    <div class="container">

      <div class="row">
        <div class="col-md-9 main-content">

          <div class="panel-group">
            <% @pages.each do |page| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
                      <%= page.title %>
                    </a>
                  </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse">
                  <div class="panel-body">
                     <%= raw page.content %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="row text-center">

            <div class="col-lg-12">
              <%= pagination @pages %>
            </div>

          </div>
        </div>

        <%= render file: "public/templetes/dagle/shared/partials/_blog_sidebar" %>
      </div>
    </div>
  </section>

<div>
