<div class="section-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          Exclusive Features <br>
          <small>
            Here's a list of all the things that our app can do
          </small>
        </h2>
      </div>
    </div>
  </div>
</div>


<div id="features-page">
  <section class="main-content">
    <div class="container">

      <div id="features-split">
        <div class="row">

          <div class="col-sm-3">
            <div class="features-item">
              <h4>Responsive Design</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="small-img" alt="">
              </div>

              <div class="text">
                <p>
                  Where ignorance lurks, so too do the frontiers of discovery and imagination.
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Mobile First</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/briefcase.png" class="small-img" alt="">

              </div>

              <div class="text">
                <p>
                  To go places and do things that have never been done before – that’s what living is all about.
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Built with Bootstrap</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/bookshelf.png" class="small-img hidden-sm" alt="">

              </div>

              <div class="text">
                <p>
                  The sky is the limit only for those who aren't afraid to fly!
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Another feature</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="small-img hidden-sm" alt="">

              </div>

              <div class="text">
                <p>
                  The sky is the limit only for those who aren't afraid to fly!
                </p>
              </div>

            </div>
          </div>

          <div id="feature-split-image" class="col-sm-6 hidden-xs">
            <img src="/templetes/dagle/img/display/mockup-7.png" class="img-responsive" alt="web screenshot">
          </div>

          <div class="col-sm-3">
            <div class="features-item">
              <h4>Priority Support</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/car.png" class="small-img" alt="">
              </div>

              <div class="text">
                <p>
                  Energies and skills, because that challenge is one that we are willing to accept.
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Stand out from the crowd</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/computer.png" class="small-img" alt="">

              </div>

              <div class="text">
                <p>
                  We’re curious people. Look back over history, people have put their lives at stake.
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Easy to use</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/check.png" class="small-img hidden-sm" alt="">

              </div>

              <div class="text">
                <p>
                  It suddenly struck me that that tiny pea, pretty and blue, was the Earth
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Yet Another feature</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/booklet.png" class="small-img hidden-sm" alt="">

              </div>

              <div class="text">
                <p>
                  The sky is the limit only for those who aren't afraid to fly!
                </p>
              </div>

            </div>
          </div>


        </div>
      </div>


      <div id="feature-boxed">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="heading">
                <h2>
                  Everything you need to launch your SaaS website <br>

                  <small>
                    StartKit has all the pages you need for your startup.
                  </small>
                </h2>
              </div>

              <img src="/templetes/dagle/img/display/mockup-1.png" alt="" class="main-image img-responsive">

            </div>
          </div>


          {% include "partials/boxed-features-list.html" %}
        </div>
      </div>


      <div class="row features-additional-text">
        <div class="col-lg-8 col-md-8">
          <div class="additional-header">
            <h3>Still not convinced?</h3>
          </div>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

          <blockquote>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, officiis, ea, quidem, perferendis debitis quo neque dicta nisi quod ad laborum vel minima culpa maiores fugiat blanditiis atque harum magni!
            </p>
          </blockquote>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="notepaper">
            <div class='note'>
              <div class='text'>
                <h3 class="text-center">Here's a sticky note to change your mind</h3>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores vitae eveniet magni. Molestiae, neque.
                </p>


                <p>
                  <i class="fa fa-check"></i> Multiple pages <br>
                  <i class="fa fa-check"></i> Easy Customization <br>
                  <i class="fa fa-check"></i> Responsive Design <br>
                  <i class="fa fa-check"></i> Bootstrap 3 <br>
                </p>


                <div class="text-center">
                  <a href="#" class="btn btn-danger">Purchase</a>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- main-content -->

  <div id="full-width-carousel" class="carousel slide">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('/assets/bgs/starry.jpg');"></div>

        <div class="carousel-caption">
          <div class="text">
            <h2>Modern & Elegant Web Application</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius soluta eligendi eaque rerum error, reprehenderit, voluptates voluptatem molestias saepe, perferendis iste perspiciatis animi inventore fugiat mollitia sit ut ipsam, maiores.
            </p>

            <a href="#" class="btn btn-lg btn-danger btn-round">
              Get Started &rarr;
            </a>
          </div>
        </div>

      </div>
      <div class="item">
        <div class="fill" style="background-image:url('/assets/bgs/mist.jpg')"></div>
        <div class="carousel-caption">
          <div class="text">
            <h2>Honest, Affordable Pricing</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius soluta eligendi eaque rerum error, reprehenderit, voluptates voluptatem molestias saepe, perferendis iste perspiciatis animi inventore fugiat mollitia sit ut ipsam, maiores.
            </p>

            <a href="#" class="btn btn-lg btn-danger btn-round">
              Get Started &rarr;
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('/assets/bgs/sunset.jpeg')"></div>
        <div class="carousel-caption">
          <div class="text">
            <h2>Everything you need, Nothing you don't</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius soluta eligendi eaque rerum error, reprehenderit, voluptates voluptatem molestias saepe, perferendis iste perspiciatis animi inventore fugiat mollitia sit ut ipsam, maiores.
            </p>

            <a href="#" class="btn btn-lg btn-danger btn-round">
              Get Started &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#full-width-carousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#full-width-carousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div><!-- carousel -->
</div>
