<div id="gallery-page" class="four-columns">

  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            Ekko Gallery <br>
            <small>
              Take a look at our beautiful photo gallery
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div id="gallery-container">
      <div class="row">

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/1.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/1.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/2.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/2.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/3.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/3.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/4.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/4.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/5.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/5.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/6.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/6.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/7.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/7.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/8.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/8.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/9.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/9.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/10.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/10.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/1.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/1.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="/assets/cleancut/gallery-large/2.jpg" class="gallery-item no-barba" data-toggle="lightbox" data-title="StartKit Gallery Item" data-gallery="multiimages">
            <img class="img-responsive" src="/assets/cleancut/gallery-thumbs/2.jpg">
            <div class="overlay">
              <h5>Image title</h5>
            </div>
          </a>
        </div>

      </div>
    </div>

    <hr class="spacer">

    <div class="row text-center">

      <div class="col-lg-12">
        <ul class="pagination">
          <li><a href="#">&laquo;</a>
          </li>
          <li class="active"><a href="#">1</a>
          </li>
          <li><a href="#">2</a>
          </li>
          <li><a href="#">3</a>
          </li>
          <li><a href="#">4</a>
          </li>
          <li><a href="#">5</a>
          </li>
          <li><a href="#">&raquo;</a>
          </li>
        </ul>
      </div>

    </div>

    <hr class="spacer">

  </div>

  <%= render "shared/partials/horizontal_features" %>
</div>
