<div id="portfolio-page" class="page one-column-portfolio">

  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            Our Portfolio <br>
            <small>
              Take a look at what we have done so far
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row portfolio-single-item">
      <div class="col-md-7">
        <div class="portfolio-carousel-container">
          <div class="main-images-container">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">
              <!-- main slider carousel items -->
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">
                  <img src="/templetes/dagle/img/slider-images/1.jpg">
                </div>
                <div class="item" data-slide-number="1">
                  <img src="/templetes/dagle/img/slider-images/2.jpg">
                </div>
                <div class="item" data-slide-number="2">
                  <img src="/templetes/dagle/img/slider-images/3.jpg">
                </div>
                <div class="item" data-slide-number="3">
                  <img src="/templetes/dagle/img/slider-images/4.jpg">
                </div>
                <div class="item" data-slide-number="4">
                  <img src="/templetes/dagle/img/slider-images/1.jpg">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-1" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
          </div>

          <div class="thumbs">
            <div class="col-md-12 slider-thumbs text-center">

              <ul class="list-inline">
                <li>
                  <a href="#" data-target="#carousel-1" data-slide-to="0" class="active">
                    <img src="/templetes/dagle/img/slider-images/1.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-1" data-slide-to="1">
                    <img src="/templetes/dagle/img/slider-images/2.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-1" data-slide-to="2">
                    <img src="/templetes/dagle/img/slider-images/3.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-1" data-slide-to="3">
                    <img src="/templetes/dagle/img/slider-images/4.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-1" data-slide-to="4">
                    <img src="/templetes/dagle/img/slider-images/1.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="additional-header">
          <h3>Elemental Theme</h3>
        </div>

        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, et, nobis quia dolore illo quod reprehenderit corporis.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>


        <a href="<%= page_path("portfolio_item") %>" class="btn btn-primary btn-lg view-project-btn">View Project</a>

      </div>
    </div><!-- portfolio single item -->




    <div class="row portfolio-single-item">

      <div class="col-md-7 col-md-push-5">
        <div class="portfolio-carousel-container">
          <div class="main-images-container">
            <div id="carousel-2" class="one-column-portfolio-carousel carousel slide" data-ride="carousel">
              <!-- main slider carousel items -->
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">
                  <img src="/templetes/dagle/img/cleancut/business1.jpg">
                </div>
                <div class="item" data-slide-number="1">
                  <img src="/templetes/dagle/img/cleancut/business2.jpg">
                </div>
                <div class="item" data-slide-number="2">
                  <img src="/templetes/dagle/img/cleancut/business3.jpg">
                </div>
                <div class="item" data-slide-number="3">
                  <img src="/templetes/dagle/img/cleancut/business2.jpg">
                </div>
                <div class="item" data-slide-number="4">
                  <img src="/templetes/dagle/img/cleancut/business1.jpg">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-2" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-2" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
          </div>

          <div class="thumbs">
            <div class="col-md-12 slider-thumbs text-center">

              <ul class="list-inline">
                <li>
                  <a href="#" data-target="#carousel-2" data-slide-to="0">
                    <img src="/templetes/dagle/img/cleancut/business1.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-2" data-slide-to="1">
                    <img src="/templetes/dagle/img/cleancut/business2.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-2" data-slide-to="2">
                    <img src="/templetes/dagle/img/cleancut/business3.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-2" data-slide-to="3">
                    <img src="/templetes/dagle/img/cleancut/business2.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#"  data-target="#carousel-2" data-slide-to="4">
                    <img src="/templetes/dagle/img/cleancut/business1.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-5  col-md-pull-7">

        <div class="additional-header">
          <h3>Atlas Admin</h3>
        </div>

        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, et, nobis quia dolore illo quod reprehenderit corporis.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>


        <a href="<%= page_path("portfolio_item") %>" class="btn btn-primary btn-lg view-project-btn">View Project</a>

      </div>


    </div><!-- portfolio single item -->





    <div class="row portfolio-single-item">
      <div class="col-md-7">
        <div class="portfolio-carousel-container">


          <div class="main-images-container">
            <div id="carousel-3" class="one-column-portfolio-carousel carousel slide" data-ride="carousel">
              <!-- main slider carousel items -->
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">
                  <img src="/templetes/dagle/img/cleancut/large/city.jpg">
                </div>
                <div class="item" data-slide-number="1">
                  <img src="/templetes/dagle/img/cleancut/large/city2.jpg">
                </div>
                <div class="item" data-slide-number="2">
                  <img src="/templetes/dagle/img/cleancut/large/city3.jpg">
                </div>
                <div class="item" data-slide-number="3">
                  <img src="/templetes/dagle/img/cleancut/large/city4.jpg">
                </div>
                <div class="item" data-slide-number="4">
                  <img src="/templetes/dagle/img/cleancut/large/city.jpg">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-3" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-3" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
          </div>

          <div class="thumbs">
            <div class="col-md-12 slider-thumbs text-center">

              <ul class="list-inline">
                <li>
                  <a href="#" data-target="#carousel-3" data-slide-to="0">
                    <img src="/templetes/dagle/img/cleancut/large/city.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#" data-target="#carousel-3" data-slide-to="1">
                    <img src="/templetes/dagle/img/cleancut/large/city2.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#" data-target="#carousel-3" data-slide-to="2">
                    <img src="/templetes/dagle/img/cleancut/large/city3.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#" data-target="#carousel-3" data-slide-to="3">
                    <img src="/templetes/dagle/img/cleancut/large/city4.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

                <li>
                  <a href="#" data-target="#carousel-3" data-slide-to="4">
                    <img src="/templetes/dagle/img/cleancut/large/city.jpg" class="img-responsive img-thumbnail">
                  </a>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">

        <div class="additional-header">
          <h3>StartKit Template</h3>
        </div>

        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, et, nobis quia dolore illo quod reprehenderit corporis.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>


        <a href="<%= page_path("portfolio_item") %>" class="btn btn-primary btn-lg view-project-btn">View Project</a>

      </div>


    </div><!-- portfolio single item -->




    <div class="row text-center">

      <div class="col-lg-12">
        <ul class="pagination">
          <li><a href="#">&laquo;</a>
          </li>
          <li class="active"><a href="#">1</a>
          </li>
          <li><a href="#">2</a>
          </li>
          <li><a href="#">3</a>
          </li>
          <li><a href="#">4</a>
          </li>
          <li><a href="#">5</a>
          </li>
          <li><a href="#">&raquo;</a>
          </li>
        </ul>
      </div>

    </div>

    <hr class="spacer">

  </div>
  <!-- /.container -->

</div>

<%= render "shared/partials/horizontal_features" %>
