<div id="pricing-page" class="page">

  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            Pricing <br>
            <small>
              Simple and honest pricing. No contracts, cancel anytime.
            </small>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container page-content">
    <div class="row">
      <div class="col-md-12">

        <div class="text-right">
          <div class="btn-group js-toggle-pricing" data-toggle="buttons" >
            <label class="btn btn-default active">
              <input type="radio" name="options" id="option1" value='monthly'> <i class="fa fa-clock"></i> Monthly
            </label>
            <label class="btn btn-default">
              <input type="radio" name="options" id="option2" value='annual'> <i class="fa fa-calendar"></i> Annual
            </label>
          </div>
        </div>

        <div id="pricing-table">
          <%= render "shared/partials/pricing_table" %>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2>Feature Comparision</h2>
              <p class="lead">Compare and contrast our plans. Choose the one that suits your business needs.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered feature-comparision-table table-striped">
              <thead>
                <tr>
                  <th width="40%">
                    Features
                  </th>

                  <th width="15%">
                    Basic
                  </th>

                  <th width="15%">
                    Plus
                  </th>

                  <th width="15%">
                    Premium
                  </th>

                  <th width="15%">
                    Ultimate
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class='feature-name'>
                    Number of projects
                  </td>

                  <td>
                    5
                  </td>

                  <td>
                    10
                  </td>

                  <td>
                    15
                  </td>

                  <td>
                    Unlimited
                  </td>
                </tr>

                <tr>
                  <td class='feature-name'>
                    Storage Capacity
                  </td>

                  <td>
                    5 GB <i class="fa fa-question-circle"  data-toggle="tooltip" title="This refers the the amount of data (pictures and videos) you can store on our server). 1 GB = 1024 MB"></i>
                  </td>

                  <td>
                    10 GB <i class="fa fa-question-circle"  data-toggle="tooltip" title="This refers the the amount of data (pictures and videos) you can store on our server). 1 GB = 1024 MB"></i>
                  </td>

                  <td>
                    15 GB <i class="fa fa-question-circle"  data-toggle="tooltip" title="This refers the the amount of data (pictures and videos) you can store on our server). 1 GB = 1024 MB"></i>
                  </td>

                  <td>
                    Unlimited
                  </td>
                </tr>

                <tr>
                  <td class='feature-name'>
                    Custom Branding
                  </td>

                  <td>
                    <i class="feature-not-available">&times</i>
                  </td>

                  <td>
                    <i class="feature-not-available">&times</i>
                  </td>

                  <td>
                    <i class="fa fa-check feature-available"></i>
                  </td>

                  <td>
                    <i class="fa fa-check feature-available"></i>
                  </td>
                </tr>

                <tr>
                  <td class='feature-name'>
                    Email Delivery
                  </td>

                  <td>
                    100/day
                  </td>

                  <td>
                    1000/day
                  </td>

                  <td>
                    15000/day
                  </td>

                  <td>
                    Unlimited
                  </td>
                </tr>

                <tr>
                  <td class='feature-name'>
                    Bandwidth
                  </td>

                  <td>
                    5 GB <i class="fa fa-question-circle"  data-toggle="tooltip" title="This refers the the amount of data that can be served from our server). 1 GB = 1024 MB"></i>
                  </td>

                  <td>
                    10 GB <i class="fa fa-question-circle"  data-toggle="tooltip" title="This refers the the amount of data that can be served from our server). 1 GB = 1024 MB"></i>
                  </td>

                  <td>
                    15 GB <i class="fa fa-question-circle"  data-toggle="tooltip" title="This refers the the amount of data that can be served from our server). 1 GB = 1024 MB"></i>
                  </td>

                  <td>
                    Unlimited
                  </td>
                </tr>

                <tr>
                  <td class='feature-name'>
                    Javascript API
                  </td>

                  <td>
                    <i class="feature-not-available">&times</i>
                  </td>

                  <td>
                    <i class="feature-not-available">&times</i>
                  </td>

                  <td>
                    <i class="fa fa-check feature-available"></i>
                  </td>

                  <td>
                    <i class="fa fa-check feature-available"></i>
                  </td>
                </tr>



                <tr>
                  <td class='feature-name'>
                    Support
                  </td>

                  <td>
                    <i class="feature-not-available">&times</i>
                  </td>

                  <td>
                    Email
                  </td>

                  <td>
                    Email + Phone
                  </td>

                  <td>
                    Priority Support
                  </td>
                </tr>


                <tr>
                  <td class='feature-name'>
                    Analytics
                  </td>

                  <td>
                    <i class="feature-not-available">&times</i>
                  </td>

                  <td>
                    <i class="feature-not-available">&times</i>
                  </td>

                  <td>
                    <i class="fa fa-check feature-available"></i>
                  </td>

                  <td>
                    <i class="fa fa-check feature-available"></i>
                  </td>
                </tr>
              </tbody>

              <tfoot>

                <tr>
                  <td>&nbsp;</td>

                  <td>
                    <h3 class="panel-title price">$9
                      <span class="price-cents">99</span>
                      <span class="price-month">mo.</span>
                    </h3>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </td>

                  <td>
                    <h3 class="panel-title price">$19
                      <span class="price-cents">99</span>
                      <span class="price-month">mo.</span>
                    </h3>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </td>

                  <td>
                    <h3 class="panel-title price">$29
                      <span class="price-cents">99</span>
                      <span class="price-month">mo.</span>
                    </h3>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </td>

                  <td>
                    <h3 class="panel-title price">$49
                      <span class="price-cents">99</span>
                      <span class="price-month">mo.</span>
                    </h3>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </td>
                </tr>
              </tfoot>
            </table>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="additional-header">
              <h3>Frequently Asked Questions</h3>
            </div>
          </div>
        </div>

        <div class="row freq-questions">
          <div class="col-lg-6 col-md-6">
            <div class="question">
              <h5>
                How much will I be charged?
              </h5>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, cum, quo, ut fugit corporis quidem alias quas qui dignissimos earum modi quaerat quibusdam nam incidunt maiores obcaecati vero error deserunt?
              </p>
            </div>

            <div class="question">
              <h5>
                Can I change my plan after some time?
              </h5>

              <p>
                Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center.
              </p>
            </div>

            <div class="question">
              <h5>
                When will my card be charged?
              </h5>

              <p>
                It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.

              </p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="question">
              <h5>
                Will you save my card details?
              </h5>

              <p>
                Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
              </p>
            </div>

            <div class="question">
              <h5>
                Can I cancel my subscription?
              </h5>

              <p>
                When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is. Mankind, let us preserve and increase this beauty, and not destroy it!
              </p>
            </div>

            <div class="question">
              <h5>
                Can I pay with Paypal?
              </h5>

              <p>
                The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.
              </p>
            </div>
          </div>
        </div>
      </div>


      <%= render "shared/partials/testimonials" %>

    </div>
  </div>

  <%= render "shared/partials/horizontal_features" %>

</div>
