<div id="support-page" class="page">

  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            How can we help? <br>
            <small>
              Browse our knowledge base to find solutions to common problems
            </small>
          </h2>


          <div id="custom-search-input">
            <div class="input-group col-md-10 col-md-offset-1">
              <input type="text" class="input-lg form-control" placeholder="Have a question? Ask here..." />
              <span class="input-group-btn">
                <span class="btn btn-default btn-lg">
                  <span class="fa fa-search"></span> Search
                </span>
              </span>
            </div>
          </div>
        </div><!-- search input-->

      </div>
    </div>
  </div>

  <section class="categories-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="additional-header">
            <h3>Browse By Categories</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="widget widget-cream">
            <i class="support-icon-main fa fa-users"></i>

            <h3 class="widget-title">
              Privacy Settings
            </h3>

            <ul class="list">
              <li>
                <a href="#">How to change you privacy settings?</a>
              </li>

              <li>
                <a href="#">How to reset your password?</a>
              </li>

              <li>
                <a href="#">How to change your username?</a>
              </li>
            </ul>

            <a href="#" class="btn btn-sm btn-bordered btn-primary">12 more articles &rarr;</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="widget widget-blue">
            <i class="support-icon-main fa fa-money"></i>

            <h3 class="widget-title">
              Billing Settings
            </h3>

            <ul class="list">
              <li>
                <a href="#">Can I pay with Paypal?</a>
              </li>

              <li>
                <a href="#">Do you accept Mastercard?</a>
              </li>

              <li>
                <a href="#">How to change my billing address?</a>
              </li>
            </ul>

            <a href="#" class="btn btn-sm btn-bordered btn-white">4 more articles &rarr;</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="widget widget-red">
            <i class="support-icon-main fa fa-cogs"></i>

            <h3 class="widget-title">
              Getting Started
            </h3>

            <ul class="list">
              <li>
                <a href="#">How to create your first widget?</a>
              </li>

              <li>
                <a href="#">How to add users to your account?</a>
              </li>

              <li>
                <a href="#">How to set up Javascript widget?</a>
              </li>
            </ul>

            <a href="#" class="btn btn-sm btn-bordered btn-white">5 more articles &rarr;</a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="articles-area">
    <div class="container">

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="additional-header">
                <h3>Latest Articles</h3>
              </div>
            </div>

            <div class="col-md-12 col-lg-12">

              <div class="list-group support-articles-list">
                <a href="#" class="list-group-item">
                  <i class="fa fa-star"></i> How to change you privacy settings?
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-user"></i> How to change your username?
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-cogs"></i> How to add users to your account?
                </a>

                <a href="#" class="list-group-item">
                  <i class="fa fa-code"></i> How to set up Javascript widget?
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-briefcase"></i> How to change your username?
                </a>
              </div>


            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="additional-header">
                <h3>Popular Articles</h3>
              </div>
            </div>

            <div class="col-md-12 col-lg-12">

              <div class="list-group support-articles-list">
                <a href="#" class="list-group-item">
                  <i class="fa fa-star"></i> How to change you privacy settings?
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-user"></i> How to change your username?
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-cogs"></i> How to add users to your account?
                </a>

                <a href="#" class="list-group-item">
                  <i class="fa fa-code"></i> How to set up Javascript widget?
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-briefcase"></i> How to change your username?
                </a>
              </div>


            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="additional-header">
                <h3>Get Help</h3>
              </div>

              <div class="panel panel-primary">
                <div class="panel-body">
                  <h4>Didn't find the answer that you were looking for?</h4>

                  <p class="lead">
                    Drop us an <a href="#">email</a> or fill out our <a href="contact.html">contact form</a> and we'll get back to you shortly.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="contact-form-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render "shared/partials/contact_form" %>
        </div>
      </div>
    </div>
  </section>

  <%= render "shared/partials/horizontal_features" %>



</div>
