<div class="container-fluid header-box" style="background: #000;">
	<div class="row margin-top-20">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<img src="/templetes/met_llshg/assets/images/header.png" class="img-responsive">
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<div style="display: inline-flex;">
				<p style="margin: 20px 0 0 0;">
					<span><strong style="font-size: 48px;color: #fff;"><i class="fa fa-phone-square"></i>400-400-400</strong></span>
				</p>
				<p style="margin: 30px 0 0 20px;">
					<span class="btn btn-danger btn-lg">立即加盟</span>
				</p>
			</div>
		</div>
	</div>
	<header id="topNav">
		<ul class="header-ul">
			<li class="head-li">
				<a href="">首页</a>
			</li>
			<li class="head-li">
				<a href="">关于廖老四</a>
			</li>
			<li class="head-li">
				<a href="">招商加盟</a>
			</li>
			<li class="head-li">
				<a href="">分店风采</a>
			</li>
			<li class="head-li">
				<a href="">特色菜品</a>
			</li>
			<li class="head-li">
				<a href="">新闻中心</a>
			</li>
			<li class="head-li">
				<a href="">联系我们</a>
			</li>
		</ul>
	</header>
</div>