<!-- wrapper -->
<div id="wrapper">
	<%= render file: 'public/templetes/met_llshg/_header.html' %>
	<!-- REVOLUTION SLIDER -->
	<div class="slider fullwidthbanner-container roundedcorners">
		<div class="fullwidthbanner" data-height="560" data-shadow="0" data-navigationStyle="preview2">
			<ul class="hide">
				<!-- SLIDE  -->
				<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="">
					<img src="/templetes/met_llshg/assets/images/banner.jpg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!-- SLIDE  -->
				<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="">
					<img src="/templetes/met_llshg/assets/images/banner1.jpg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
			</ul>
		</div>
	</div>

	<!-- 关于廖老四 -->
	<div class="container">
		<header class="text-center margin-bottom-40 margin-top-60">
			<h1 class="weight-300" style="height: 0;"><i class="fa fa-fire" style="color: #d4262c;"></i> 关于廖老四你需要知道的事情</h1>
			<h2 class="weight-300 size-13"><span>WHAT YOU NEED TO KNOW ABOUT LIAO</span></h2>
		</header>
		<div class="row margin-top-30 margin-bottom-30">
			<div class="col-md-9">
				<div class="col-md-3">
					<img src="/templetes/met_llshg/assets/images/logo2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-9">
					<h3 class="weight-300" style="height: 10px;"><i class="fa fa-thumbs-up"></i> 成都廖老四老火锅</h3>
					<p style="text-indent: 2em;">成都廖老四餐饮管理连锁有限公司是集项目开发研究、连锁投资、特许经营管理的专业化餐饮连锁公司。公司自2002年成立以来，秉承“绿色、生态、环保、健康”的经营理念，在保持传统火锅民间烹制工艺流程的基础上，结合现代都市人对火锅质量的需求变化，将营养，滋补，新潮，独特融为一体。开业至今，已陆续获得“中国烹饪协会团体会员”，四川饭店与餐饮娱乐行业协会历史会员，“全国绿色餐饮企业““四川名火锅”等殊荣。
					</p>
					<p style="text-indent: 2em;">公司致力于“品质，品味，品牌”文化建设，努力将传统餐饮行业推行品牌化，规模化，树立行业典范，打造火锅精品。为实现“服务百姓，回报社，共创多赢”的企业愿景，公司已成功导入最先进的特许经营模式，以风险小，见效快，回报高的经营特点，为加盟店提供全面科学的投资指导服务，最完备有力的开店支持和最规范有效的运营指导。成都廖老四餐饮连锁管理有限公司，以最具投资价值的特色餐饮连锁机制的运作，邀请您的加盟，共襄盛举！</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-12">
					<h3 class="weight-300" style="height: 10px;"><i class="fa fa-thumbs-o-up"></i>廖老四老火锅故事</h3>
					<ul class="list-unstyled">
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
						<li><a href="">[故事] 廖老四相关的故事</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 加盟问题 -->
	<section class="parallax parallax-2" style="background-image: url('/templetes/met_llshg/assets/images/footer_bg.jpg');">
		<div class="container">
			<div class="text-center">
				<h3 class="nomargin">您还在为以下问题烦恼吗？</h3>
				<p class="font-lato weight-300 lead nomargin-top">让我们来为你一一解答</p>
			</div>

			<ul class="margin-top-80 social-icons list-unstyled list-inline">
				<li>
					<a href="#">
						<i class="fa fa-question-circle"></i>
						<h4>找加盟？</h4>
						<span>帮助加盟商实现利润增值</span>
						<br>
						<p class="btn btn-primary btn-sm">立即咨询</p>
					</a>						
				</li>
				<li>
					<a href="#">
						<i class="fa fa-question-circle"></i>
						<h4>找门面？</h4>
						<span>资深专家帮你装修选址</span>
						<br>
						<p class="btn btn-primary btn-sm">立即咨询</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-question-circle"></i>
						<h4>找合伙？</h4>
						<span>帮助每个加盟商做生意</span>
						<br>
						<p class="btn btn-primary btn-sm">立即咨询</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-question-circle"></i>
						<h4>找技术？</h4>
						<span>致力与帮助每个加盟商</span>
						<br>
						<p class="btn btn-primary btn-sm">立即咨询</p>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-question-circle"></i>
						<h4>找资源？</h4>
						<span>我们承诺对客户无所保留</span>
						<br>
						<p class="btn btn-primary btn-sm">立即咨询</p>
					</a>
				</li>
			</ul>
		</div>
	</section>

	<!-- 加盟理由 -->	
	<div class="container">
		<header class="text-center margin-bottom-40 margin-top-60">
			<h1 class="weight-300" style="height: 0;"><i class="fa fa-fire" style="color: #d4262c;"></i> 四大理由让您加盟放心无忧</h1>
			<h2 class="weight-300 size-13"><span>FOUR REASON TO JOIN YOU WORRY FREE</span></h2>
		</header>

		<div class="row text-center" style="background: url('/templetes/met_llshg/assets/images/qa_bg.png') no-repeat;">
			<div class="col-md-12 margin-top-80" style="color: #fff;">
				<h3 style="height: 10px;color: #fff;">完善的餐饮运作体系</h3>
				<p>以高复制性为经营原则，始终为连锁加盟商着想，做到轻松加盟，从签订合同开始全程保证服务。</p>
				<h3 style="height: 10px;color: #fff;">创新模式，财富保障</h3>
				<p>三位一体的经营模式，彻底打破火锅店冬天赚钱夏天亏本的魔咒，开创火锅店稳赚不赔的时代。</p>
				<h3 style="height: 10px;color: #fff;">统一的原材料供应</h3>
				<p>所有原材料均是无污染的绿色食品，食品监测严格把关，保障食品安全，让加盟商放心经营。</p>
				<h3 style="height: 10px;color: #fff;">标准化的加工制作</h3>
				<p>锅底制作加工工艺简单化，不用厨师的傻瓜操作，不受厨师的左右；底料按比例搭配，操作简易。</p>
				<a class="btn btn-success btn-lg" href="/contact">联系我们</a>
			</div>
			
		</div>
	</div>

	<!-- 广告条 -->
	<div class="container-fluid margin-bottom-30">
		<img src="/templetes/met_llshg/assets/images/ggt.jpg" class="img-responsive" style="width: 100%;">
	</div>

	<!-- 加盟支持 -->


	<!-- 加盟流程 -->
	<div class="container">
		<header class="text-center margin-bottom-40 margin-top-60">
			<h1 class="weight-300" style="height: 0;"><i class="fa fa-fire" style="color: #d4262c;"></i>九大加盟流程助您放心加盟</h1>
			<h2 class="weight-300 size-13">
			<span class="">TEN JOIN PROCESS HELP YOU REST ASSURED JOIN</span></h2>
		</header>
		
    <ul class="ul-style">

      <!-- 第一排 -->
      <li class="list-li item-li1 text-center">
        <div class="li-content">
          <span class="content-head font-lato">01</span>
          <span class="content-des font-lato">初次了解<br/>(电话咨询)</span>
        </div>
      </li>
      <li class="list-li item-li2 text-center">
        <div class="li-content">
          <span class="content-head font-lato">02</span>
          <span class="content-des font-lato">现场洽谈<br/>(了解产品口味、<br/>投资经验)</span>
        </div>
      </li>
      <li class="list-li item-li3 text-center">
        <div class="li-content">
          <span class="content-head font-lato">03</span>
          <span class="content-des font-lato">合作签约</span>
        </div>
      </li>
      <li class="list-li item-li4 text-center">
        <div class="li-content">
          <span class="content-head font-lato">04</span>
          <span class="content-des font-lato">产品技术<br/>理论培训</span>
        </div>
      </li>
      
      <!-- 第二排 -->
      <li class="list-li item-li8 text-center">
        <div class="li-content">
          <span class="content-head font-lato">08</span>
          <span class="content-des font-lato">营运管理支持<br/>(升业策划、上门带店服务)</span>
        </div>
      </li>
      <li class="list-li item-li7 text-center">
        <div class="li-content">
          <span class="content-head font-lato">07</span>
          <span class="content-des font-lato">营运管理<br/>培训</span>
        </div>
      </li>
      <li class="list-li item-li6 text-center">
        <div class="li-content">
          <span class="content-head font-lato">06</span>
          <span class="content-des font-lato">店面筹建管理<br/>(店面选址、店面设计)</span>
        </div>
      </li>
      <li class="list-li item-li5 text-center">
        <div class="li-content">
          <span class="content-head font-lato">05</span>
          <span class="content-des font-lato">产品技术<br/>实际操作</span>
        </div>
      </li>
      
      <!-- 第三排 -->
      <li class="list-li item-li9 text-center">
        <div class="li-content">
          <span class="content-head font-lato">09</span>
          <span class="content-des font-lato">营运管理支持<br/>(开业策划、上面带店服务)</span>
        </div>
      </li>
      <li class="list-li item-li10 text-center">
        <div class="li-content">
          <span class="content-head font-lato">10</span>
          <span class="content-des font-lato">店铺日常运营<br/>管理督导</span>
        </div>
      </li>

      <!-- 第三排末尾 -->
      <li class="item-images">
        <img src="/templetes/met_llshg/assets/images/right-img.jpg" alt="" class="img-responsive">
      </li>
      
      <li class="clear"></li>
    </ul>
	</div>

	<!-- 经典菜式展示 -->
	<div class="container">
		<header class="text-center margin-bottom-40 margin-top-60">
			<h1 class="weight-300" style="height: 0;"><i class="fa fa-fire" style="color: #d4262c;"></i> 经典菜式展示</h1>
			<h2 class="weight-300 size-13">
			<span class="">CLASSIC DISHES SHOW</span></h2>
		</header>
		<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": true}'>
			<div class="img-hover" style="border: 2px solid #757070;border-radius: 10px;padding: 10px;">
				<a href="">
					<img class="img-responsive" src="/templetes/met_llshg/assets/images/huoguo.png" alt="">
				</a>
				<h4 class="text-center margin-top-10"><a href="">极品鲜鹅肠</a></h4>
				<hr>
				<p class="text-left">每日从原材料新鲜采买，原汁原味，无添加</p>
				<a href="" class="btn btn-success btn-sm">了解更多</a>
			</div>
			<div class="img-hover" style="border: 2px solid #757070;border-radius: 10px;padding: 10px;">
				<a href="">
					<img class="img-responsive" src="/templetes/met_llshg/assets/images/huoguo.png" alt="">
				</a>
				<h4 class="text-center margin-top-10"><a href="">极品鲜鹅肠</a></h4>
				<hr>
				<p class="text-left">每日从原材料新鲜采买，原汁原味，无添加</p>
				<a href="" class="btn btn-success btn-sm">了解更多</a>
			</div>
			<div class="img-hover" style="border: 2px solid #757070;border-radius: 10px;padding: 10px;">
				<a href="">
					<img class="img-responsive" src="/templetes/met_llshg/assets/images/huoguo.png" alt="">
				</a>
				<h4 class="text-center margin-top-10"><a href="">极品鲜鹅肠</a></h4>
				<hr>
				<p class="text-left">每日从原材料新鲜采买，原汁原味，无添加</p>
				<a href="" class="btn btn-success btn-sm">了解更多</a>
			</div>
			<div class="img-hover" style="border: 2px solid #757070;border-radius: 10px;padding: 10px;">
				<a href="">
					<img class="img-responsive" src="/templetes/met_llshg/assets/images/huoguo.png" alt="">
				</a>
				<h4 class="text-center margin-top-10"><a href="">极品鲜鹅肠</a></h4>
				<hr>
				<p class="text-left">每日从原材料新鲜采买，原汁原味，无添加</p>
				<a href="" class="btn btn-success btn-sm">了解更多</a>
			</div>
		</div>
	</div>

	<!-- 最新资讯 -->
	<div class="container">
		<header class="text-center margin-bottom-40 margin-top-60">
			<h1 class="weight-300" style="height: 0;"><i class="fa fa-fire" style="color: #d4262c;"></i> 最新资讯</h1>
			<h2 class="weight-300 size-13">
			<span class="">LATEST INFORMATION</span></h2>
		</header>

		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<img src="/templetes/met_llshg/assets/images/huoguo.png" class="img-responsive">
				</div>
				<div class="col-md-8">
					<h4><b>|</b>成都美食达人惊艳凤望龙门成都玉林总店</h4>
					<p>作为国内餐饮市场中最大的餐饮业态</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="/templetes/met_llshg/assets/images/huoguo.png" class="img-responsive">
				</div>
				<div class="col-md-8">
					<h4><b>|</b>成都美食达人惊艳凤望龙门成都玉林总店</h4>
					<p>作为国内餐饮市场中最大的餐饮业态</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"1", "autoPlay": 4000, "navigation": true, "pagination": true}'>
				<div class="img-hover">
					<a href="">
						<img class="img-responsive" src="/templetes/met_llshg/assets/images/huoguo.png" alt="">
					</a>
				</div>
				<div class="img-hover">
					<a href="">
						<img class="img-responsive" src="/templetes/met_llshg/assets/images/huoguo.png" alt="">
					</a>
				</div>
			</div>
			<ul class="list-unstyled">
				<li><a href="">[新闻] 廖老四相关的新闻</a></li>
				<li><a href="">[新闻] 廖老四相关的新闻</a></li>
				<li><a href="">[新闻] 廖老四相关的新闻</a></li>
				<li><a href="">[新闻] 廖老四相关的新闻</a></li>
				<li><a href="">[新闻] 廖老四相关的新闻</a></li>
			</ul>
		</div>
	</div>

	<%= render file: 'public/templetes/met_llshg/_footer.html' %>
</div>