<div id="fullpage">
  <section data-anchor="section_welcome">
    <div class="container">
      <div class="row">
        <div class="text-center col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">
          <div class="thumbnail">
            <img src="http://www.mokomo.cn/templetes/app-landing-tomoko/img/bg/big-images/1.jpg" class="img img-responsive" />
            <div class="caption">
                <p>我在<br/>
                  <span style="color: orange; font-size:1.4em;"><%= @share_obj.name %></span>
                </p>
                已有<%= rand(30..100) %>位美容师入驻该平台
            </div>
          </div>

          <h1 class="heading" data-animate-in="animateUpDown">
           淘美客，<br />
           享受优质舒适的私享美容服务
          </h1>

          <p class="delay_1" data-animate-in="animateUpDown">
            淘美客是一家提供在线美容预约服务的私享平台，专业打造优质舒适的社区美容服务，丰富多样的美容项目、各有所长的美容技师供您自由选择。
          </p>
          <a href="<%= @cms_site.value_for('ios')%>" class="btn btn-lg btn-danger delay_2" data-animate-in="animateUpDown">
            <i class="fa fa-apple"></i> IOS Store
          </a>
          <a href="<%= @cms_site.value_for('android')%>" class="btn btn-lg btn-danger delay_2" data-animate-in="animateUpDown">
            <i class="fa fa-android"></i> Android Store
          </a>

        </div>
      </div> <!-- / .row -->
    </div><!-- / .container -->
  </section>
</div>
