h1 Frontend::Products#index
p Find me in app/views/frontend/products/index.html.slim
<% @products.each do |product| %>
  <li><%= link_to product.name, frontend_product_path(product) %></li>
<% end %>
