<div class="collapse navbar-collapse" id="editSelf">
  <ul class="nav">
    <li>
      <a class="text-center" href="javascript: void(0)">消息中心 <span class="badge" style="background-color: #d9534f;">4</span></a>
    </li>
    <li>
      <%= link_to '账号设置', edit_frontend_user_path(current_user) %>
    </li>
    <li>
      <%= link_to '我的订单', self_order_frontend_users_path %>
    </li>
    <li>
      <%= link_to '我的评论', self_comment_frontend_users_path %>
    </li>
    <li>
      <%= link_to '意见反馈', self_complaint_frontend_users_path %>
    </li>
  </ul>
</div>
