<div id="wrap">
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">

      <div class="tr-breadcrumb">
  			<div class="title pull-left">
  				<h1>
            微信绑定
          </h1>
  			</div>
        <ol class="breadcrumb pull-right">
          <li><a href="/">首页</a></li>
        </ol>
  		</div>
        <div class="row">
          <div class="col-sm-8 col-md-8 tr-sticky">
            <div class="theiaStickySidebar">
                <div class="tr-section">
                  <div id="bind-wechat">
                    <h3 class="text-center" style="color: #999;">扫码绑定微信</h3>
                    <img id="qrcode-auth-image" width="180" style="height: 200px; margin: 0 auto; background: #eee; padding: 10px;" src="" alt="">
                    <p align="center" id="qrcode-auth-message" style="margin-top:15px;"></p>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-4 tr-sticky" >
    				<%= render file: 'frontend/users/_nav_sidebar.html.erb' %>
          </div>
        </div>

    </div>
  </section>
  <%= render file: @cms_site.template_dir + '_footer.html' %>
</div>
