<div class="page-header">
  <div class="container-fluid">
    <h1>
      <i class="fa fa-desktop order_head_icon"></i>订单列表
      <%= link_to '返回官网', nil ,style: 'float: right;' %>
    </h1>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr class="order_head_tr">
        <td class="order_head_td">
          编号
        </td>
        <td class="order_head_td">
          订单号
        </td>
        <td class="order_head_td">
          订单状态
        </td>
        <td class="order_head_td">
          下单时间
        </td>
        <td class="order_head_td">
          预计收货
        </td>
        <td class="order_head_td">
          操作
        </td>
      </tr>
    </thead>
    <tbody>
      <% @orders.order(updated_at: :desc).each_with_index do |order, index| %>
        <tr class="order_tr">
          <td class="order_td">
            <%= index + 1 %>
          </td>
          <td class="order_td">
            <%= order.code %>
          </td>
          <td class="order_td">
            支付成功
          </td>
          <td class="order_td">
            18分钟前
          </td>
          <td class="order_td">
            2017年6月31日
          </td>
          <td class="order_td">
            <a href="" title="查看" class="table_a">
              <button class="table_btn btn-info">
                <i class="fa fa-eye">
                </i>
              </button>
            </a>
            <a href="#" title="修改" class="table_a">
              <button class="table_btn btn-warning">
                <i class="fa fa-pencil">
                </i>
              </button>
            </a>
            <a href="#" title="删除" class="table_a">
              <button class="table_btn btn-danger">
                <i class="fa fa-times">
                </i>
              </button>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @orders%>
