<%= render partial: 'layouts/navbar', locals: {title: '商家'} %>
<div class="pages navbar-fixed">
  <div data-page="home" class="page">
    <!-- Search bar -->
    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
      <div class="searchbar-input">
        <input type="search" placeholder="输入商家名称"><a href="#" class="searchbar-clear"></a>
      </div><a href="#" class="searchbar-cancel">取消</a>
    </form>
   
    <!-- Search bar overlay -->
    <div class="searchbar-overlay"></div>
   
    <div class="page-content">
      <!-- This block will be displayed if nothing found -->
      <div class="content-block searchbar-not-found">
        <div class="content-block-inner">没有找到~</div>
      </div>
   
      <!-- This block will be displayed if anything found, and this list block is used a searbar target -->
      <div class="list-block media-list list-block-search searchbar-found">
        <ul>
          <% 8.times.each do |i| %>
          <li><a href="/agent/homepage" class="item-link item-content external">
              <div class="item-media"><img src="/assets/user1.jpg" width="44"></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">唐义海</div>
                </div>
                <div class="item-subtitle">我的海淘屋，澳洲美酒，澳洲代购</div>
              </div></a></li>
          <% end %>
         
        </ul>
      </div>

    </div>
  </div>          

</div>
