<%= render partial: 'layouts/navbar', locals: {title: '发布'} %>
<div class="pages navbar-fixed">
  <div data-page="home-2" class="page">
    <div class="page-content">
      
        <p class="text-center">添加产品分享、活动、评论</p>

    </div>
  </div>
</div>
