<%= render partial: 'layouts/navbar', locals: {title: '分享'} %>
<div class="pages navbar-fixed">
  <div data-page="home-2" class="page">
    <div class="page-content">
      
      <div class="content-block-title">* 网友分享</div>
      <% 5.times.each do |i| %>
        <!-- product -->
        <div class="card facebook-card">
          <div class="card-header no-border">
            <div class="facebook-avatar"><a href="/agent/homepage" class="external"><img src="/assets/user1.jpg" width="34" height="34"></a></div>
            <div class="facebook-name"><a href="/agent/homepage" class="external">用户1</a></div>
            <div class="facebook-date">大约2个小时前</div>
          </div>
          <div class="card-content">
            <p>环境很好，摄影和选片妹妹都很有耐心，非常愉快的一次拍摄，以后宝宝大了拍全家福也选这里，谢谢工作人员的耐心配合.</p>
            <a href="/product/share" class="external"><img src="/assets/photo<%=i%>.jpg" width="100%"></a>
          </div>
          <div class="card-footer no-border">
            <a href="/agent/homepage" class="link external">糖豆摄影工作室</a>
            <a href="/product/share" class="link external">评论(123)</a>
            <a href="/product/share" class="link external">查看详细</a>
          </div>
        </div><!-- product -->
      <% end %>

    </div>
  </div>
</div>
