<!-- BEGIN #header -->
<div id="header" class="header">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN header-container -->
        <div class="header-container">
            <!-- BEGIN navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <div class="header-logo">
                    <a href="index.html">
                        <span class="brand"></span>
                        <span>私享</span>汇
                        <small>与您的朋友一起享受生活</small>
                    </a>
                </div>
            </div>
            <!-- END navbar-header -->
            <!-- BEGIN header-nav -->
            <div class="header-nav">
                <div class=" collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav">
                        <li><a href="index.html">首页</a></li>
                        <li class="dropdown dropdown-hover">
                          <a href="#" data-toggle="dropdown">
                              访问统计
                              <i class="fa fa-angle-down"></i>
                              <span class="arrow top"></span>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="product.html">当日</a></li>
                              <li><a href="product.html">本周</a></li>
                              <li><a href="product.html">上周</a></li>
                              <li><a href="product.html">上月</a></li>
                              <li><a href="product.html">本年</a></li>
                              <li><a href="product.html">汇总</a></li>
                          </ul>
                        </li>
                        <li class="dropdown dropdown-hover">
                            <a href="#" data-toggle="dropdown">
                                我的产品
                                <i class="fa fa-angle-down"></i>
                                <span class="arrow top"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="product.html">日用品</a></li>
                                <li><a href="product.html">生鲜食品</a></li>
                                <li><a href="product.html">海外商品</a></li>
                                <li><a href="product.html">旅游</a></li>
                                <li><a href="product.html">运功</a></li>
                                <li><a href="product.html">娱乐</a></li>
                                <li><a href="product.html">电子</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-hover">
                            <a href="#" data-toggle="dropdown">
                                我的热销
                                <i class="fa fa-angle-down"></i>
                                <span class="arrow top"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">iPhone 7</a></li>
                                <li><a href="index_fixed_header.html">红酒</a></li>
                            </ul>
                        </li>
                        <li><a href="product.html">发布新品</a></li>
                        <li class="dropdown dropdown-hover">
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-search search-btn"></i>
                                <span class="arrow top"></span>
                            </a>
                            <div class="dropdown-menu p-15">
                                <form action="search_results.html" method="POST" name="search_form">
                                    <div class="input-group">
                                        <input type="text" placeholder="搜索" class="form-control bg-silver-lighter" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-inverse" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END header-nav -->
            <!-- BEGIN header-nav -->
            <div class="header-nav">
                <ul class="nav pull-right">
                    <li class="dropdown dropdown-hover">
                        <a href="#" class="header-cart" data-toggle="dropdown">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="total">2</span>
                            <span class="arrow top"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-cart p-0">
                            <div class="cart-header">
                                <h4 class="cart-title">Shopping Bag (1) </h4>
                            </div>
                            <div class="cart-body">
                                <ul class="cart-item">
                                    <li>
                                        <div class="cart-item-image"><img src="assets/img/ipad.jpg" alt="" /></div>
                                        <div class="cart-item-info">
                                            <h4>iPad Pro Wi-Fi 128GB - Silver</h4>
                                            <p class="price">$699.00</p>
                                        </div>
                                        <div class="cart-item-close">
                                            <a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-item-image"><img src="assets/img/imac.jpg" alt="" /></div>
                                        <div class="cart-item-info">
                                            <h4>21.5-inch iMac</h4>
                                            <p class="price">$1299.00</p>
                                        </div>
                                        <div class="cart-item-close">
                                            <a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-item-image"><img src="assets/img/iphone.png" alt="" /></div>
                                        <div class="cart-item-info">
                                            <h4>iPhone 6s 16GB - Silver</h4>
                                            <p class="price">$649.00</p>
                                        </div>
                                        <div class="cart-item-close">
                                            <a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="cart-footer">
                                <div class="row row-space-10">
                                    <div class="col-xs-6">
                                        <a href="checkout_cart.html" class="btn btn-default btn-block">View Cart</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="checkout_cart.html" class="btn btn-inverse btn-block">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="my_account.html">
                            <img src="assets/img/user-1.jpg" class="user-img" alt="" />
                            <span class="hidden-md hidden-sm hidden-xs">退出登录</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END header-nav -->
        </div>
        <!-- END header-container -->
    </div>
    <!-- END container -->
</div>
<!-- END #header -->
