// Place all the styles related to the agent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}

.swiper-follower {
  height: 60px;
}
.swiper-follower .swiper-slide {

}

.swiper-follower .swiper-slide img{
    width: 60px;
    height: 60px;
    border-radius:50%;
    overflow:hidden;
}