<%= render file: "public/templetes/dagle/shared/_header" %>

<div id="barba-wrapper">
  <div class="barba-container">
     <%= render file: "public/templetes/dagle/pages/support" %>
  </div>
</div>

<%= render file: "public/templetes/dagle/shared/_footer" %>
