@media(max-width: 767px)
  .content
    padding: 10px
#trackers_visits
  .email-content
    .collect_top
      border-bottom: 1px solid #ccc
      .col-xs-4
        border-right: 1px solid #ccc
        i
          font-size: 80%
        .cut_solid
          width: 30%
          background: #ccc
          height: 1px
          margin: 20px auto
      .border-none
        border: none
    .device-content
      .left
        ul
          li
            line-height: 45px
            .col-xs-6
              .progress
                margin: 12px 0px 0px 0px

