<% if @cms_site.pages.ids.present? && @cms_site.pages.ids.include?(page.id) %>
<div class="row" style="margin: 10px 0;">
  <div class="col-md-4 col-xs-4">
    <a href="<%= get_cms_url(page) %>"><img class="img-responsive" src="<%= page.thumb_image_path %>" alt="<%= page.title %>"></a>
  </div>
  <div class="col-md-8 col-xs-8">
    <div class="header-text">
      <h4><%= link_to page.title, get_cms_url(page) %></h4>
    </div>
  </div>
</div>
<hr style="margin: 10px 0px;">
<% end %>

