<div class="tr-post">
  <% @search_results.each do |result| %>
    <div class="row">
      <div class="col-md-3 col-xs-4">
        <a href="<%= get_cms_url(result) %>"><img class="img-responsive" src="<%= result.image_path %>" alt="<%= result.title %>"></a>
      </div>
      <div class="col-md-9 col-xs-8">
        <h5><%= link_to result.title, get_cms_url(result) %></h5>
      </div>
    </div>
    <hr>
  <% end %>
</div>
