<div class="row" style="margin: 10px 0;">
  <div class="col-md-3 col-xs-4 padding-r-l-5">
    <a href="<%= frontend_site_path(site) %>" class="cover_img_a" title="<%= site.title %>">
      <div class="cover_img" style="background: no-repeat center url('<%= site.first_image %>');">
      </div>
    </a>
  </div>
  <div class="col-md-9 col-xs-8">
    <div class="header-text">
      <h4><%= link_to site.title, frontend_site_path(site) %></h4>
    </div>
  </div>
</div>
<hr class="block-bootom-hr">
