<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Student</title>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link rel="stylesheet" href="/templetes/student2/css/student.css">   
<link rel="stylesheet" href="/templetes/student2/css/nav-css/bootstrap.css">  
<link rel="stylesheet" href="/templetes/student2/css/nav-css/jquery-ui.css">  
<link rel="stylesheet" href="/templetes/student2/css/nav-css/style.css">  
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="/templetes/student2/js/nav-js/classie.js"></script>
<script src="/templetes/student2/js/nav-js/uisearch.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 