<div class="course-title clearfix">
    <div class="col-xs-4 col-md-12">
        <h3>最新课程</h3>
        <!--<p >
            <a href="">更多>></a>
        </p>-->
    </div>
</div>
<ul class="clearfix">
    <div class="row">
        <div class="ul-margin clearfix ">
            <div class="col-xs-12  col-md-3">
                <li> 
                    <div class="" >
                        <a href="" >
                        <img src="image/2119946900.jpg" class="img1">
                        </a>
                    </div>
                    <div class="text-box" style="height:120px">
                        <div class="title">
                            <a href="table.html">肚皮舞</a>
                        </div>
                        <div class="clearfix margin-t">
                            <div class="left">
                                <span class="tag-item">课程类型</span>
                                <span class="tag-item">舞蹈</span>
                            </div>
                            <div class="right">
                                <span class="tag-item">年龄限制</span>
                                <span class="tag-item">2-4岁</span>
                            </div>
                        </div>
                        <div class="clearfix margin-t">
                            <div class="left">       
                                <span class="tag-item">任课老师</span>
                                <span class="tag-item">小红</span>
                            </div>
                            <div class="right">
                                <span class="tag-item">性别限制</span>
                                <span class="tag-item">女生</span>           
                            </div>
                        </div>	 
                    </div>
                </li>
            </div>
            <div class="col-xs-12  col-md-3">
                <li> 
                    <div class="" >
                        <a href="" >
                            <img src="image/2119946900.jpg" class="img1">
                        </a>
                    </div>
                    <div class="text-box" style="height:120px">
                        <div class="title">
                            <a href="table.html">肚皮舞</a>
                        </div>
                        <div class="clearfix margin-t">
                            <div class="left">
                                <span class="tag-item">课程类型</span>
                                <span class="tag-item">舞蹈</span>
                            </div>
                            <div class="right">
                                <span class="tag-item">年龄限制</span>
                                <span class="tag-item">2-4岁</span>
                            </div>
                        </div>
                        <div class="clearfix margin-t">
                            <div class="left">                       
                                <span class="tag-item">任课老师</span>
                                <span class="tag-item">小红</span>                      
                            </div>
                            <div class="right">                       
                                <span class="tag-item">性别限制</span>
                                <span class="tag-item">女生</span>                       
                            </div>
                        </div>	 
                    </div>
                </li>
            </div>
        </div>
    </div>	
</ul> 