<section id="highlight-cta" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text text-center">
        <h2>
          让德格成为您的伙伴，一起携手共进
        </h2>
        <p class="lead">
          一个人可以走的很快，一群人却走的很远。
        </p>  
      </div>
    </div>
  </div>
</section>

<div id="features-page">
  <section class="main-content">
    <div class="container">
      <div id="features-split">
        <div class="row">

          <div class="col-sm-3">
            <div class="features-item">
              <h4>Responsive Design</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="small-img" alt="">
              </div>

              <div class="text">
                <p>
                  Where ignorance lurks, so too do the frontiers of discovery and imagination.
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Mobile First</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/briefcase.png" class="small-img" alt="">

              </div>

              <div class="text">
                <p>
                  To go places and do things that have never been done before – that’s what living is all about.
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>Built with Bootstrap</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/bookshelf.png" class="small-img hidden-sm" alt="">

              </div>

              <div class="text">
                <p>
                  The sky is the limit only for those who aren't afraid to fly!
                </p>
              </div>

            </div>
            <div class="features-item">
              <h4>Another feature</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="small-img hidden-sm" alt="">
              </div>
              <div class="text">
                <p>
                  The sky is the limit only for those who aren't afraid to fly!
                </p>
              </div>
            </div>
          </div>
          <div id="feature-split-image" class="col-sm-6 hidden-xs">
            <img src="/templetes/dagle/img/display/mockup-7.png" class="img-responsive" alt="web screenshot">
          </div>
          <div class="col-sm-3">
            <div class="features-item">
              <h4>Priority Support</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/car.png" class="small-img" alt="">
              </div>
              <div class="text">
                <p>
                  Energies and skills, because that challenge is one that we are willing to accept.
                </p>
              </div>
            </div>
            <div class="features-item">
              <h4>Stand out from the crowd</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/computer.png" class="small-img" alt="">
              </div>
              <div class="text">
                <p>
                  We’re curious people. Look back over history, people have put their lives at stake.
                </p>
              </div>
            </div>
            <div class="features-item">
              <h4>Easy to use</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/check.png" class="small-img hidden-sm" alt="">
              </div>
              <div class="text">
                <p>
                  It suddenly struck me that that tiny pea, pretty and blue, was the Earth
                </p>
              </div>
            </div>
            <div class="features-item">
              <h4>Yet Another feature</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/booklet.png" class="small-img hidden-sm" alt="">
              </div>
              <div class="text">
                <p>
                  The sky is the limit only for those who aren't afraid to fly!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>      