<!-- 应用领域 -->
<section id="highlight-cta" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text text-center">
        <h2>
          让德格成为您的伙伴，一起携手共进
        </h2>
        <p class="lead">
          一个人可以走的很快，一群人却走的很远。
        </p>  
      </div>
    </div>
  </div>
</section>
<div id="features-page">
  <section class="main-content">
    <div class="container">
      <div id="features-split">
        <div class="row">
          <div class="col-sm-3">
            <div class="features-item">
              <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                  <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                  <h3 style="margin-left:12px;">服装</h3>
                </div>
              </div>
            </div>

            <div class="features-item">
              <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                  <img src="/templetes/dagle/img/circle-icons/full-color/briefcase.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                  <h3 style="margin-left:12px;">服装</h3>
                </div>
              </div>
            </div>

            <div class="features-item">
              <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                  <img src="/templetes/dagle/img/circle-icons/full-color/bookshelf.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                  <h3 style="margin-left:12px;">鞋子、帽子</h3>
                </div>
              </div>
            </div>
          </div>
          <div id="feature-split-image" class="col-sm-6 hidden-xs">
            <img src="/templetes/dagle/img/display/mockup-7.png" class="img-responsive" alt="web screenshot">
          </div>
          <div class="col-sm-3">
            <div class="features-item">
              <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                  <img src="/templetes/dagle/img/circle-icons/full-color/art.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                  <h3 style="margin-left:12px;">服装</h3>
                </div>
              </div>
            </div>

            <div class="features-item">
              <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                  <img src="/templetes/dagle/img/circle-icons/full-color/briefcase.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                  <h3 style="margin-left:12px;">服装</h3>
                </div>
              </div>
            </div>

            <div class="features-item">
              <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                  <img src="/templetes/dagle/img/circle-icons/full-color/bookshelf.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-8">
                  <h3 style="margin-left:12px;">鞋子、帽子</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>