<section id="highlight-cta" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text text-center">
        <h2>
          让德格成为您的伙伴，一起携手共进
        </h2>
        <p class="lead">
          一个人可以走的很快，一群人却走的很远。
        </p>  
      </div>
    </div>
  </div>
</section>

<div id="features-page">
  <section class="main-content">
    <div class="container">
      <div id="features-split">
        <div class="row">

          <div class="col-sm-3">
            <div class="features-item">
              <h4>定制家具行业</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/door.png" class="small-img" alt="">
              </div>

              <div class="text">
                <p>
                   流程一体化的管理方式,实时掌握经营数据,降低企业成本
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>皮革制造业</h4>

              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/fashion.png" class="small-img" alt="">

              </div>

              <div class="text">
                <p>
                  在生产制造领域，德格领先突破，10年经验沉淀，更专业的生产管理系统。
                </p>
              </div>

            </div>

            <div class="features-item">
              <h4>沙发制造行业</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/scissors.png" class="small-img hidden-sm" alt="">

              </div>
              <div class="text">
                <p>
                  德格帮您搭建了一套O2O的全网推广模式，通过百度推广为您获得了更多的收益！
                </p>
              </div>

            </div>
            <div class="features-item">
              <h4>装修建材行业</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/tools.png" class="small-img hidden-sm" alt="">
              </div>
              <div class="text">
                <p>
                  销售开单灵活，库存动态实时掌握，建材行业管理好帮手。
                </p>
              </div>
            </div>
          </div>
          <div id="feature-split-image" class="col-sm-6 hidden-xs">
            <img src="/templetes/dagle/img/display/mockup-7.png" class="img-responsive" alt="web screenshot">
          </div>
          <div class="col-sm-3">
            <div class="features-item">
              <h4>鞋帽箱包行业</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/toolbox.png" class="small-img" alt="">
              </div>
              <div class="text">
                <p>
                  通告对所在行业的深入改造创造价值，使企业能够在该领域内所占价值比例高于纯粹的互联网流量平台
                </p>
              </div>
            </div>
            <div class="features-item">
              <h4>服装定制行业</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/carwheel.png" class="small-img" alt="">
              </div>
              <div class="text">
                <p>
                  信息跨区域、跨部门、跨平台集成，分类归集，自动汇总，按需调用
                </p>
              </div>
            </div>
            <div class="features-item">
              <h4>洗衣连锁行业</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/water.png" class="small-img hidden-sm" alt="">
              </div>
              <div class="text">
                <p>
                  拉动洗衣门店线上下单能力，提升用户服务体验将显得非常重要
                </p>
              </div>
            </div>
            <div class="features-item">
              <h4>生态农业</h4>
              <div class="image hidden-sm">
                <img src="/templetes/dagle/img/circle-icons/full-color/weather.png" class="small-img hidden-sm" alt="">
              </div>
              <div class="text">
                <p>
                  如何整合区域资源，建立网络营销渠道，实现区域生产和供应链对接，就是农业O2O重点
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>      