<aside class="col-md-3" id="page-sidebar">
  <div class="sidebar-widget">
    <div class="additional-header">
      <h3>
        搜索
      </h3>
    </div>

    <p class="help-block text-muted">
      请输入你想要搜索的关键词
    </p>

    <%= form_tag cms_frontend_search_path(@site), :method => 'get', role: 'search' do %>
      <input type="search" class="form-control search-field" name="search" placeholder="输入要查询的内容">
    <% end %>

  </div>

  <div class="sidebar-widget">
    <div class="notepaper">
      <div class='note'>
        <div class='text'>
          <h3 class="text-center"><i class="fa fa-rss"></i> 订阅文章更新 </h3>

          <p>
            你可以添加邮箱订阅，获取德格的最新资讯信息，德格会定期发布行业观察文章、企业应用实践，不错过任何一次更新。
          </p>

          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入你的邮箱">
            </div>
            <div class="text-right actions">
              <a href="#" class="btn btn-danger">
                <i class="fa fa-check-square"></i> 订 阅
              </a>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>



  <!-- /well -->
  <div class="sidebar-widget">
    <div class="additional-header">
      <h3>最近更新文章</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled">
          <% Cms::Page.recent(6).each do |page| %>
            <li>
              <i class="fa fa-circle-o"></i>
              <%=link_to page.title, get_cms_url(page) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- /well -->
  <div class="well">
    <p><img src="/templetes/dagle/img/logos/logo-gray.jpg" class="img-responsive"/></p>
  </div>
  <!-- /well -->

</aside>
