<div class="row">
  <div class="col-md-4 feature-item">
    <i class="fa fa-bathtub feature-icon"></i>

    <div class="text">
      <h5>定制家具行业</h5>
      <p>流程一体化的管理方式,实时掌握经营数据,降低企业成本</p>
    </div>

  </div>

  <div class="col-md-4 feature-item">
    <i class="fa fa-eye feature-icon"></i>

    <div class="text">
      <h5>皮革制造业</h5>
      <p>在生产制造领域，德格领先突破，10年经验沉淀，更专业的生产管理系统</p>
    </div>

  </div>

  <div class="col-md-4 feature-item">
    <i class="fa fa-bed feature-icon"></i>

    <div class="text">
      <h5>沙发制造行业</h5>
      <p>德格帮您搭建了一套O2O的全网推广模式，通过百度推广为您获得了更多的收益！</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-4 feature-item">
    <i class="fa fa-gears feature-icon"></i>

    <div class="text">
      <h5>装修建材行业</h5>
      <p>销售开单灵活，库存动态实时掌握，建材行业管理好帮手。</p>
    </div>

  </div>

  <div class="col-md-4 feature-item">
    <i class="fa fa-suitcase feature-icon"></i>

    <div class="text">
      <h5>鞋帽箱包行业</h5>
      <p>通告对所在行业的深入改造创造价值，使企业能够在该领域内所占价值比例高于纯粹的互联网流量平台</p>
    </div>

  </div>

  <div class="col-md-4 feature-item">
    <i class="fa fa-cut feature-icon"></i>

    <div class="text">
      <h5>服装定制行业</h5>
      <p>
        信息跨区域、跨部门、跨平台集成，分类归集，自动汇总，按需调用
      </p>
    </div>

  </div>

  <div class="col-md-4 feature-item">
    <i class="fa fa-recycle feature-icon"></i>

    <div class="text">
      <h5>洗衣连锁行业</h5>
      <p>
        拉动洗衣门店线上下单能力，提升用户服务体验将显得非常重要
      </p>
    </div>

  </div>

  <div class="col-md-4 feature-item">
    <i class="fa fa-flask feature-icon"></i>

    <div class="text">
      <h5>生态农业</h5>
      <p>
        如何整合区域资源，建立网络营销渠道，实现区域生产和供应链对接，就是农业O2O重点
      </p>
    </div>

  </div>

</div>
