<section id="horizontal-features">

  <div class="container">

    <div class="row">
      <div class="col-md-4 feature-item">
        <div class="image">
          <img src="/templetes/dagle/img/smallicons-svg/www.svg" alt="">
        </div>


        <div class="text">
          <h4>工业4.0，智慧生产</h4>
          <p class="lead">德格力图使中小企业成为新一代智能化生产技术的使用者和受益者，同时也成为先进工业生产技术的创造者和供应者；使用德格，更快、更智能地生产和销售。</p>
        </div>

      </div>
      <div class="col-md-4 feature-item">
        <div class="image">
          <img src="/templetes/dagle/img/smallicons-svg/eye.svg" alt="">
        </div>

        <div class="text">
          <h4>精准直达客户，移动你的生意</h4>
          <p class="lead">用德格，结合社会化营销工具进行多样的客户收集，分分钟发起一个营销活动，实现精准的客户连接和客户关系管理，把你的生意搬到移动端。</p>
        </div>

      </div>
      <div class="col-md-4 feature-item">
        <div class="image">
          <img src="/templetes/dagle/img/smallicons-svg/store.svg" alt="">
        </div>

        <div class="text">
          <h4>寻找伙伴，创造商机</h4>
          <p class="lead">用德格，打通互联网全网营销系统，帮助你更好的寻找伙伴，创造商机；用德格，打通生产和销售闭环，牢牢的抓住你和经销商的关系。</p>
        </div>

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</section>
