<div class="logos">
  <div class="row">
    <div class="col-md-12">
      <div class="additional-header">
        <h3>品牌合作商</h3>
      </div>
    </div>
  </div>

  <div id="logo-slider">
    <% Cms::Page.where(channel_id: '29').each do |page| %>
      <div class="item"><a href="<%= get_cms_url(page) %>"><img src="<%= page.image_path %>" ></a></div>
    <% end %>
  </div>
</div>
