<div class="row p-tables">
  <div class="col-md-3" data-aos="fade-up-right">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <p class="lead  text-muted plan-title">第一步</p>
        <h3 class="panel-title price">需求
          <span class="price-month">调研.</span>
        </h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item">挖掘客户需求</li>
        <li class="list-group-item">定制化功能组装</li>
        <li class="list-group-item">服务打包下载</li>
        <li class="list-group-item button-wrapper"><a class="btn btn-default">查看详细</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-up">

    <div class="panel panel-default text-center">

      <div class="panel-heading">
        <p class="lead text-muted plan-title">第二步</p>
        <h3 class="panel-title price">数据
          <span class="price-month">采集.</span>
        </h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item">数据自动获取</li>
        <li class="list-group-item">数据分析归类</li>
        <li class="list-group-item">数据整理部署</li>
        <li class="list-group-item button-wrapper"><a class="btn btn-default">查看详细</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-up-left">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <p class="lead text-muted  plan-title">第三部</p>
        <h3 class="panel-title price">流程
          <span class="price-month">演练.</span>
        </h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item">审核流程计划</li>
        <li class="list-group-item">定制业务流程</li>
        <li class="list-group-item">模拟流程演练</li>
        <li class="list-group-item button-wrapper"><a class="btn btn-default">查看详细</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-up-left">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <p class="lead text-muted plan-title">第四步</p>
        <h3 class="panel-title price">上线
          <span class="price-month">优化.</span>
        </h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item">同步整合数据</li> 
        <li class="list-group-item">优化整理系统</li>
        <li class="list-group-item">平滑的过度上线</li>
        <li class="list-group-item button-wrapper"><a class="btn btn-default">查看详细</a>
        </li>
      </ul>
    </div>
  </div>

</div>
