<div class="container">
  <div class="row feature-single">
    <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-right">
      <img src="/templetes/dagle/img/display/mockup-2.png" class="img-responsive" alt="feature1" />
    </div>

    <div class="col-md-6 col-sm-8 text" data-aos="fade-up-left">
      <h3>
        安全可靠
      </h3>

      <p class="lead">
        分布式部署，100%抵御数据灭失。<br/>
        <small>防黑防盗，私有安全</small>
        <ul>
          <li>完善的防黑客攻击系统和冗余存储系统。</li>
          <li>三重模式加固信息安全，防止密码被盗。</li>
          <li>强大的角色权限管理机制，防止“内盗”。</li>
          <li>Linux分布式云备份，防止数据莫名丢失。</li>
          <li>数据在云端，也在你身边，随取随用！</li>
        </ul>
      </p>
    </div>

  </div>

  <div class="divider"></div>

  <div class="row feature-single">
    <div class="col-md-6 col-sm-8 text" data-aos="fade-up-right">
      <h3>
        大数据能力
      </h3>

      <p class="lead">
        通过智能训练，让软件越用越好用。<br/>
        <small>智能分析，精准推送</small>
        <ul>
          <li>打通渠道和经销，打造优质商业生态闭环。</li>
          <li>精准客户营销，提升了客户体验</li>
          <li>大数据分析客户社交行为，智能化客户分类.</li>
          <li>为工厂、企业的整个也业务流程的发展提升一个档次</li>
          <li>为工厂、企业的服务夺得口碑，提升了经销商、营销人员的销售效率和业绩</li>

        </ul>
      </p>
    </div>

    <div class="col-md-6 col-sm-4 image hidden-xs" data-aos="fade-up-left">
      <img src="/templetes/dagle/img/display/mockup-5.png" class="img-responsive" alt="feature1" />
    </div>
  </div>

  <div class="feature-square-list" data-aos="fade-up">
    <div class="row">
      <div class="col-md-12">
        <div class="additional-header">
          <h3>还有更多优点</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 feature-square-single">
        <div class="main-icon-container">
          <i class="material-icons">account_balance</i>
        </div>

        <h5>德格，触手可及</h5>
        <p>PC电脑，手机Wap，微信公众号，微信小程序，短信推送；通过各种你喜欢的方式使用德格。</p>
      </div>

      <div class="col-md-4 feature-square-single second">
        <div class="main-icon-container">
          <i class="material-icons">web</i>
        </div>

        <h5>德格，简单好用</h5>
        <p>说到企业管理软件，给人的印象就是一个庞然大物，复杂，难用。德格摒弃了传统的软件架构，以极轻的方式呈现，让你很快上手。</p>
      </div>

      <div class="col-md-4 feature-square-single">
        <div class="main-icon-container">
          <i class="material-icons">gesture</i>
        </div>

        <h5>德格，量身定制</h5>
        <p>针对各种中小型企业自身情况定制业务流程，没有标准模式，只有适合企业自身的定制。</p>
      </div>
    </div>
  </div>

</div>
