<section id="testimonial-stats" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="heading">
          <h2>来自各行业超过1000家客户，见证德格的成长!</h2>
          <p class="lead">Here's what our users say about us &rarr;</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="testimonial" data-aos="fade-up-right">
          <div class="quote-author">
            <img src="/templetes/dagle/img/cleancut/avatar1.jpg" class="img-circle" alt="testimonial1">
            <div class="author-name">杨总</div>
            <div class="author-company">西部鞋都</div>
          </div>

          <div class="quote-text">
            <div class="arrow-left">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
            水电费我，了访问量访问违反是否是，了访问量访问违反是否是，了访问量访问违反是否是，了访问量访问违反是否是
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial" data-aos="fade-up-left">
          <div class="quote-author">
            <img src="/templetes/dagle/img/cleancut/avatar2.jpg" class="img-circle" alt="testimonial1">
            <div class="author-name">Jane Doe</div>
            <div class="author-company">Foo Biz</div>
          </div>

          <div class="quote-text">
            <div class="arrow-left">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
            This is a great template! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, suscipit, tempora laboriosam quam alias dolor placeat mollitia incidunt sit distinctio debitis deleniti soluta aut tenetur odio minus fugit atque quos!
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="testimonial" data-aos="fade-up">
          <div class="quote-author">
            <img src="/templetes/dagle/img/cleancut/avatar3.jpg" class="img-circle" alt="testimonial1">
            <div class="author-name">Jane Doe</div>
            <div class="author-company">Foo Biz</div>
          </div>

          <div class="quote-text">
            <div class="arrow-left">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
            This is a great template! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, suscipit, tempora laboriosam quam alias dolor placeat mollitia incidunt sit distinctio debitis deleniti soluta aut tenetur odio minus fugit atque quos!
          </div>

        </div>
      </div>

    </div>

  </div>
</section>
