<section id="testimonial-stats" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="heading">
          <h2>来自各行业超过1000家客户，见证德格的成长!</h2>
          <p class="lead">客户感言</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="testimonial" data-aos="fade-up-right">
          <div class="quote-author">
            <img src="/templetes/dagle/img/cleancut/avatar1.jpg" class="img-circle" alt="testimonial1">
            <div class="author-name">杨总</div>
            <div class="author-company">西部鞋都</div>
          </div>

          <div class="quote-text">
            <div class="arrow-left">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
            目前我公司使用德格Social·CRM媒体关系管理系统，很好的管理了业务员客户以及合同的问题，同时财务也能得到一些想要的数据，如果要我评价的话，那么我感觉智邦客户管理、合同管理非常好，页面友好、功能强大、统计精确、管理清晰、软件的安全也很有保障。
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial" data-aos="fade-up-left">
          <div class="quote-author">
            <img src="/templetes/dagle/img/cleancut/avatar2.jpg" class="img-circle" alt="testimonial1">
            <div class="author-name">格兰家具</div>
            <div class="author-company">陈总</div>
          </div>

          <div class="quote-text">
            <div class="arrow-left">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
            我们格兰雅克定制家具公司已经使用德格ERP管理系统一年多了，确实提高了工作效率，便于了管理。也方便进行信息查看和数据统计的管理。 德格Saas这个产品也带给我很好的体验，软件系统的不断的进行着更新维护。我们以后会更好的与德格合作下去。
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="testimonial" data-aos="fade-up">
          <div class="quote-author">
            <img src="/templetes/dagle/img/cleancut/avatar3.jpg" class="img-circle" alt="testimonial1">
            <div class="author-name">电子商务</div>
            <div class="author-company">唐总</div>
          </div>

          <div class="quote-text">
            <div class="arrow-left">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
            我公司2016年5月8月份用了德格Social·CRM系统和ERP管理系统。系统功能非常丰富，基本涵盖了我们公司日常运维的各项工作，大大优化了我们工作的流程和效率，给我公司定制化打造了会员管理系统和营销解决方案，形成合作联盟的合伙人，重新提出了理念，在此对德格的服务表示感谢。
          </div>

        </div>
      </div>

    </div>

  </div>
</section>
