<%= render partial: 'layouts/navbar', locals: {title: '唐义海'} %>

<div class="pages navbar-through toolbar-through">
  <div class="page" data-page="agent-homepage">
    <div class="page-content">
      <!-- header -->
      <div class="card demo-card-header-pic no-border">
        <div style="background-image:url(/assets/agent.jpg)" valign="bottom" class="card-header color-white no-border">我的海淘屋</div>
        <div class="card-content">
          <div class="card-content-inner">
            <p>这里有红酒，最美的海淘精品，为你定制的澳洲资讯...</p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="link"></a>
          <a href="#" class="link button button-round button-green active">追随他</a>
        </div>
      </div><!-- header -->
      
      <!-- slider2 -->
      <div class="content-block-title">* 追随者</div>
      <div class="swiper-container swiper-follower">
        <div class="swiper-wrapper">
          <% 10.times.each do |i| %>
            <div class="swiper-slide"><img src="/assets/user<%= i%3 %>.jpg" class="img-responsive"/></div>
          <% end %>
        </div>
      </div>
     <!-- slider2 -->
      
      <div class="content-block-title">* 热门产品</div>
      <% 5.times.each do |i| %>
        <!-- product -->
        <div class="card demo-card-header-pic no-border">
          <div style="background-image:url(/assets/agent.jpg)" valign="bottom" class="card-header color-white no-border">产品<%= i %></div>
          <div class="card-content">
            <div class="card-content-inner">
              <p>这里有红酒，最美的海淘精品，为你定制的澳洲资讯...</p>
            </div>
          </div>
          <div class="card-footer">
            <a href="/product/show" class="link">喜欢(343)</a>
            <a href="/product/show" class="link button button-round button-green active">￥34.5</a>
          </div>
        </div><!-- product -->
      <% end %>
    </div>
  </div>
</div>

<!-- Bottom Toolbar-->
<%= render partial: 'layouts/toolbar' %>