/*
 * 前台页面显示
 *
 * can't require tree
 *
 *= require frontend/product_catalogs
 *= require frontend/products
 *= require frontend/users
 *= require frontend/share
 *= require frontend/micro_website
 * require frontend/bootstrap.min
 *= require frontend/slim.min
 *= require frontend/search_order
 *= require_self
 */
 a{
     text-decoration:none 
 }
 .span-text{
     color: #666666;
     margin-left: 5px;
     font-size:18px;
 }
 .a-border{
    display: inline-block;
    max-width: 56%;
    height: 30px;
    border: 1px solid #22222226;
    text-align: center;
    vertical-align: center;
    padding: 4px;
    margin-bottom: 5px;
 }
 .a-border:hover span{
   color: red;
 }
 .a-border:focus{
     color: red; 
 }
 .a-text {
    color: #88898a;
 }
 .person-info .info ul li span{
    color: #666666;
    display: inline!important;
    font-size: 15px;
    }

.btn-md{
    position: relative;
    left:50px ;
    top:-20px
    } 
@media (max-width: 414px){
.btn-md{
       position: relative;
       left:50px ;
       top:-20px
} 
.label-xs {
    position: relative;
    left: -114px !important;
}
.input-xs {
    position: relative;
    left: 84px;
    top: -24px;
    width: 198% !important;
}
.ul-xs{
    position: relative;
    left:-47px ;
}
.ul-xs li input{
    width: 56%!important;
}
.img-xs{
    position: relative;
    left:-54px ;
}
.navbar-default .navbar-nav > li > a:focus{
 color: red
}
}
     