<!-- Background Image -->
<div class="bg-image hidden"></div>

<!-- Background Colors -->
<div class="bg-colors" data-colors="#568CD3,#D3744C,#389E86,#9356D3,#D35D56,#587EA0,#518E7E"></div>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">切换菜单</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">陌邻</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <a href="#section_download" class="btn btn-lg navbar-right navbar-btn">
        <i class="fa fa-cloud-download"></i> APP下载
      </a>
      <ul class="nav navbar-nav navbar-right menu">
        <li data-menuanchor="section_welcome">
          <a href="/news">新闻发布</a>
        </li>
        <li data-menuanchor="section_contact-us">
          <a href="#section_contact-us">商家入驻</a>
        </li>
        <li data-menuanchor="section_text-block">
          <a href="/about">关于我们</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
    