<%= render file: 'public/templetes/app-landing-spotlight/_header.html' %>
  <div id="fullpage" style="background-color: #D3744C;">
    <section data-anchor="section_carousel">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-5 hidden-xs">
            <h1 class="heading" data-animate-in="animateUpDown">
             陌邻，<br />
             让邻里不再陌生！
            </h1>
          </div>
          <div class="col-sm-6 col-md-7">
            <div id="carousel_custom" class="carousel slide">
              <!-- Wrapper for slides -->
              <div class="carousel-inner delay_1" role="listbox" data-animate-in="animateUp">
                <div class="item active">
                  <h2 class="heading" data-animate-in="animateUp">
                    陌邻 是什么？
                  </h2>
                  <p>
                    陌邻是一个小区生活互助交流大数据平台，陌邻APP提供小区邻友社交互动，提供全方位社区便民服务，通过人工智能，让周边服务，呼之即来。

                    陌邻，让邻里不再陌生！

                    生活求助，总有邻居能帮到你！

                    陌邻，你的小区生活服务管家！
                  </p>
                </div>
                <div class="item">
                  <h2 class="heading" data-animate-in="animateUp">
                    陌邻特点
                  </h2>
                  <ul>
                    <li>LBS<div>大数据定位，基于社区建立圈层</div>
                    </li>
                    <li>信任<div>充分发挥邻里天然的信任纽带</div></li>
                    <li>服务<div>全方位一站式构建最后3公里的服务生态</div></li>
                    <li>优选<div>人工编辑+邻居推荐，提升生活品质</div></li>
                  </ul>
                </div>
              </div>
              <ol class="carousel-indicators delay_2" data-animate-in="animateUp">
                <li data-target="#carousel_custom" data-slide-to="0" class="active"></li>
                <li data-target="#carousel_custom" data-slide-to="1"></li>
              </ol>
            </div> <!-- / .carousel -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
  </div>
<%= render file: 'public/templetes/app-landing-spotlight/_footer.html' %>