<%= render file: 'public/templetes/app-landing-spotlight/_header.html' %>

<div class="container">   
  <!-- Comment Boxes -->
  <%= yield(:comment) %>
</div>

<%= render file: 'public/templetes/app-landing-spotlight/_footer.html' %>