<%= render file: 'public/templetes/app-landing-spotlight/_header.html' %>

<!-- Side menu 右按钮 -->
<div class="side-menu hidden-xs hidden-sm">
  <ul class="menu">
    <li data-menuanchor="section_welcome">
      <a href="#section_welcome"></a>
    </li>
    <li data-menuanchor="section_text-block">
      <a href="#section_text-block"></a>
    </li>
    <li data-menuanchor="section_features">
      <a href="#section_features"></a>
    </li>
    <li data-menuanchor="section_tabs">
      <a href="#section_tabs"></a>
    </li>
    <li data-menuanchor="section_carousel">
      <a href="#section_carousel"></a>
    </li>
    <li data-menuanchor="section_contact-us">
      <a href="#section_contact-us"></a>
    </li>
  </ul>
</div>

<!-- Social links 左 -->
<div class="social-links hidden-xs hidden-sm">
  <ul>
    <li>
      <a href="tel:18080810818"><i class="fa fa-phone-square"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-comments"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-wechat"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-qrcode"></i></a>
    </li>
  </ul>
</div>

<!-- Devices 中 -->
<div class="device__container hidden-xs">

  <!-- iPhone -->
  <div class="iphone__container black">

    <!-- Slides -->
    <div class="iphone__screen">
      <div class="device__slides">

        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/m1.jpg" alt="陌邻，让邻里不再陌生">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_2.jpg" alt="陌邻，保证隐私、安全、和谐">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_3.jpg" alt="陌邻，您的邻里生活互助平台">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_4.jpg" alt="陌邻，因为邻居，所以信任">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_5.jpg" alt="陌邻，大数据定位，基于社区建立圈层；建立小区优质社群文化。">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_6.jpg" alt="陌邻，联系我们">
        
      </div>
    </div>

  </div>

  <!-- Samsung -->
  <div class="samsung__container black hidden">

    <!-- Slides  -->
    <div class="samsung__screen">
      <div class="device__slides">

        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/m1.jpg" alt="陌邻，让邻里不再陌生">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_2.jpg" alt="陌邻，保证隐私、安全、和谐">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_3.jpg" alt="陌邻，您的邻里生活互助平台">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_4.jpg" alt="陌邻，因为邻居，所以信任">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_5.jpg" alt="陌邻，大数据定位，基于社区建立圈层；建立小区优质社群文化。">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_6.jpg" alt="陌邻，联系我们">

      </div>
    </div>

  </div>

  <!-- Macbook -->
  <div class="macbook__container hidden">

    <!-- Slides -->
    <div class="macbook__screen">
      <div class="device__slides">

        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/m1.jpg" alt="陌邻，让邻里不再陌生">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_2.jpg" alt="陌邻，保证隐私、安全、和谐">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_3.jpg" alt="陌邻，您的邻里生活互助平台">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_4.jpg" alt="陌邻，因为邻居，所以信任">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_5.jpg" alt="陌邻，大数据定位，基于社区建立圈层；建立小区优质社群文化。">
        <img src="/templetes/app-landing-spotlight/assets/img/app-screenshots/quest_6.jpg" alt="陌邻，联系我们">
        
      </div>
    </div>

  </div>

</div> <!-- / .device__container -->

<!-- Sections 右 -->
<div id="fullpage">

  <!-- Welcome -->
  <section data-anchor="section_welcome">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">

          <h1 class="heading" data-animate-in="animateUpDown">
           陌邻，<br />
           让邻里不再陌生！
          </h1>

          <p class="delay_1" data-animate-in="animateUpDown">
            陌邻APP提供小区邻友社交互动，提供全方位社区便民服务，通过人工智能，让周边服务，呼之即来。
          </p>
          <a href="#" class="btn btn-lg btn-primary delay_2" data-animate-in="animateUpDown">
            <i class="fa fa-apple"></i> IOS Store
          </a>
          <a href="#" class="btn btn-lg btn-primary delay_2" data-animate-in="animateUpDown">
            <i class="fa fa-android"></i> Android Store
          </a>

        </div>
      </div> <!-- / .row -->
    </div><!-- / .container -->
  </section>

  <!-- Text block -->
  <section data-anchor="section_text-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">

          <h2 class="heading" data-animate-in="animateUp">
            陌邻<br />
            保证隐私、安全、和谐
          </h2>

          <p class="delay_1" data-animate-in="animateUp">
            以家庭为最小需求单位的社交，我们充分考虑家庭的隐私、安全和稳定，同时又能满足家庭的需求，比如孩子们需要交朋友，几个家庭的互动，可能会孩子的成长有好处。比如，家庭一些互助方面的需求，比如维修，做饭，代遛狗等等。
          </p>
          <p class="delay_2" data-animate-in="animateUp">
            隐私、安全、和谐. 一个暖心的小区社交平台。
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- Features -->
  <section data-anchor="section_features">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">

          <h1 class="heading" data-animate-in="animateUp">
            陌邻 <br />
            您的邻里生活互助平台
          </h1>

          <p class="delay_1" data-animate-in="animateUp">
             陌邻社区O2O针对人们生活上的不便，将人们生活中涉及到的多个领域通过互联网将居民线上线。
          </p>

          <ul class="list-ticked">
            <li class="delay_2" data-animate-in="animateUp">
              <i class="fa fa-check"></i> 家政：品质搬家服务、搬家指南、教你挂号、
            </li>
            <li class="delay_2_1" data-animate-in="animateUp">
              <i class="fa fa-check">
            </i> 保姆：月嫂、育儿嫂、钟点工、保姆
            </li>
            <li class="delay_2_2" data-animate-in="animateUp">
              <i class="fa fa-check"></i> 保洁：家庭保洁、开荒、油烟机、玻璃、地板
            </li>
            <li class="delay_2_3" data-animate-in="animateUp">
              <i class="fa fa-check"></i> 家务：回收、开锁、疏通、鲜花、干洗改衣
            </li>
            <li class="delay_2" data-animate-in="animateUp">
              <i class="fa fa-check"></i> 配送：桶装水、跑腿、粮油副食、煤气
            </li>
            <li class="delay_2_1" data-animate-in="animateUp">
              <i class="fa fa-check"></i> 维修：家电、家具、电脑、手机、空调、数码
            </li>
            <li class="delay_2_2" data-animate-in="animateUp">
              <i class="fa fa-check"></i> 按摩：足疗、推拿、美容
            </li>
            <li class="delay_2_3" data-animate-in="animateUp">
              <i class="fa fa-check"></i> 餐饮：外卖、糕点、美食、西餐、火锅、自助
            </li>
          </ul>

        </div>
      </div> <!-- / .row -->
    </div><!-- / .container -->
  </section>

  <!-- Tabs -->
  <section data-anchor="section_tabs">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">

          <h2 class="heading" data-animate-in="animateUp">
            陌邻 <br />
            因为邻居，所以信任
          </h2>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs delay_1" role="tablist" data-animate-in="animateUp">
            <li role="presentation" class="active">
              <a href="#lorem" aria-controls="lorem" role="tab" data-toggle="tab">
                <span>LBS定位</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#ipsum" aria-controls="ipsum" role="tab" data-toggle="tab">
                <span>服务</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#dolor" aria-controls="dolor" role="tab" data-toggle="tab">
                <span>优选</span>
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content delay_2" data-animate-in="animateUp">

            <div role="tabpanel" class="tab-pane fade in active" id="lorem">
              <p>
                大数据定位，基于社区建立圈层；建立小区优质社群文化。
              </p>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="ipsum">
              <p>
                超市、维修、保洁...全方位构建最后3公里的服务生态圈。
              </p>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="dolor">
              <p>
                人工编辑+邻居推荐，一站式居家购物平台，提升生活品质。
              </p>
            </div>
          </div> <!-- / .tab-content -->

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- Carousel -->
  <section data-anchor="section_carousel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">

          <h2 class="heading" data-animate-in="animateUp">
            看他们 <br />
            怎么评价陌邻
          </h2>

          <div id="carousel_custom" class="carousel slide">

            <!-- Wrapper for slides -->
            <div class="carousel-inner delay_1" role="listbox" data-animate-in="animateUp">

              <div class="item active">
                <p>
                  " 自从用了陌邻，生活发生了很多变化，以前邻里比较陌生，只是点头而已，但现在可以通过网络平台建立兴趣组，在上面聊聊兴趣的话题，还可以随时知道社区发布的信息啦，啥时候停水停电一目了然，还可以约着邻居一起打打篮球什么的，真好 "
                </p>
                <p>隔壁的热心人 - 蓝光小区业主</p>
              </div>

              <div class="item">
                <p>
                  " 以前总觉得来到这个陌生的城市打拼，然后奋斗有了积蓄，买了自己的房子，但每天回到家，感觉孤零零，但用了陌邻，感觉就是交了附近的朋友，可以约着吃饭，一起健身，感觉这个城市都不再孤单了，还贴心提醒我什么时候该缴电费、水费，很贴心。 "
                </p>
                <p>爱笑的天使 - 罗兰小镇业主</p>
              </div>

              <div class="item">
                <p>
                  " 陌邻，给人的感觉是不一样的，没有像社交软件那么庞大，界面操作很精简一目了然。最重要的是，能与邻里的朋友们一起聊天，每天下班回家就像回到了一个大的家庭中，不在那么无聊。及时的物业信息公告，避免了停水停电，希望陌邻做的更好，这个APP一辈子都不删了 "
                </p>
                <p>摇摆人 - 水岸花园业主</p>
              </div>
            </div> <!-- / .carousel-inner -->

            <!-- Indicators -->
            <ol class="carousel-indicators delay_2" data-animate-in="animateUp">
              <li data-target="#carousel_custom" data-slide-to="0" class="active"></li>
              <li data-target="#carousel_custom" data-slide-to="1"></li>
              <li data-target="#carousel_custom" data-slide-to="2"></li>
            </ol>

          </div> <!-- / .carousel -->

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- Contact -->
  <section data-anchor="section_contact-us">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">

          <h2 class="heading" data-animate-in="animateUp">联系我们<br /></h2>

          <!-- Alert message -->
          <div class="alert" id="form_message" role="alert"></div>

          <!-- Please carefully read the README.txt file in order to setup the PHP contact form properly -->

          <form id="form_sendemail" class="delay_1" data-animate-in="animateUp">

            <div class="form-group">
              <label class="sr-only" for="email">电话</label>
              <input type="phone" name="comment[mobile_phone]" class="form-control" id="InputPhone" placeholder="电话" data-original-title="" title="">

              <span class="help-block"></span>
            </div>

            <div class="form-group">
              <label class="sr-only" for="name">姓名</label>
              <input type="text" name="comment[name]" class="form-control" id="InputName" placeholder="姓名" data-original-title="" title="">

              <span class="help-block"></span>
            </div>

            <div class="form-group">
              <label class="sr-only" for="message">留言信息</label>
              <textarea name="comment[content]" class="form-control" rows="3" id="InputMessage" placeholder="小区/商家/业主，以及您的诉求。"></textarea>

              <span class="help-block"></span>
            </div>

            <!-- reCAPTCHA -->
           <!--  <div class="form-group" id="form-captcha">

              <div class="g-recaptcha" data-sitekey="6LcU9QETAAAAABOKm4BoKrhzTvdIsrzXTsl4sgpY"></div>

              <span class="help-block"></span>
            </div> -->
            <!-- /reCAPTCHA -->

            <button type="submit" name="submit" id="submit" class="btn btn-primary">
              提交留言
            </button>

          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

</div>
<!-- / #fullpage -->

<%= render file: 'public/templetes/app-landing-spotlight/_footer.html' %>

<!-- Mirrored from simpleqode.com/preview/spotlight/1.0.2/index_coloured.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Apr 2017 02:55:28 GMT -->
