.order-designs
  .container-list
    border: none
    .thumbnail
      .order-message
        font-size: 12px
        padding: 15px 0px !important
      &:hover
        box-shadow: 5px 5px 5px -3px #ccc
      .caption
        .strong-title
          line-height: 30px
        ul.order-message
          color: #707478
          li
            line-height: 30px
