.order
  .container-list
    border: none
    font-size: 12px
    color: #707478
  .pagination
    ul.pagination
      margin: 0px !important
  .forum-list.forum-topic-list
    .info-container
      height: 65px
      .date-replies
        width: 100px
        .replies
          a
            text-decoration: none
            &:hover
              color: #00acac
  .search-toolbar
    .sign
      a
        border-bottom: 1px solid
