.order
  .container-list
    border: none
    font-size: 12px
    color: #707478
  .pagination
    ul.pagination
      margin: 0px !important
  .forum-list.forum-topic-list
    .info-container
      height: 65px
      .date-replies
        width: 100px
