body.agent-products.new
  .checkout-header
    .step
      &:hover
        a
          color: #00acac
  .checkout-body
    display: inline-block
    width: 100%
    min-height: 350px
    .col-xs-8
      border-right: 1px dotted #ccc
